[2014-02-20 15:25] caitp opened #2 "Add IDs to methods/events, so they can be linked to directly."
This should be paired with changes to the CSS so that we can link to these without them being hidden by the fixed headers, but that's a bit too tricky for me (CSS is hard, let's go shopping!)

I've had a go at prototyping this for methods with a simple change:

In the methods template:

[code]

And the macro:

[code]

(I couldn't get it to format without newlines without putting it all on one line

[2014-02-21 04:31] juliemr opened #5 "examples: exampleDoc.fileContents is not correctly set up for files after the first"
With 0.2.1. Investigating...

[2014-02-21 07:52] #2 closed, assigned to nobody

[2014-02-21 07:52] #5 closed, assigned to nobody

[2014-03-01 17:54] andresdominguez opened #11 "Do not fail in typeProcessor.js when parsing params"
I am using dgeni to generate the documentation for protractor. Part of the documentation includes a file which I cannot change (webdriver.js).

The typeProcessor.js fails when parsing one of the docs for webdriver.js. Can you add an option to skip throwing an exception? I am using an older version of dgeni-packages and I want upgrade to the latest.

Here is the error:
error: Error parsing tags for

[2014-03-02 11:11] #11 closed, assigned to nobody

[2014-03-02 14:06] petebacondarwin opened #12 "esprima based doc extractor"
It might be interesting to use a JS parser such as esprima, since this could also tell us about the code that follows the comment, so that we could imply some documentation straight from the code...

This would help @andresdominguez, who needs this for protractor docs, which don't provide a `@name` tag.

[2014-03-04 19:50] andresdominguez opened #14 "Exceptions inside processors are not printed"
When an error happens in a processor there is not error message printed to stdout. Is there a way make dgeni print the exceptions?

[2014-03-05 19:36] ajoslin opened #16 "Allow configuring of component-groups-generate outputPath"
https://github.com/angular/dgeni-packages/blob/master/ngdoc/processors/component-groups-generate.js#L26

I'd like to add a config variable for this outputPath - but what would be good? should it be a whole config object for this processor?

possiblity:

[code]

[2014-03-05 21:11] #14 closed, assigned to nobody

[2014-03-07 01:56] petebacondarwin opened #18 "refactor tag-parser/tag-extractor"
We really don't need both of these.  Let's merge them together

[2014-03-07 03:13] andresdominguez opened #19 "extractors/jsdoc.js extractor returns undefined docs for comments"
I'm trying to upgrade to the latest version 0.2.2 / 0.4.0. Apparently the jsdoc.js extractor is returning undefined elements for comments with this format:

[code]

Can you add a _.compact to discard unwanted elements?

`return _.compact(_.map(ast.comments, docFromComment));`

To reproduce just follow these steps:
1. Get the upgradeDgeni branch https://github.com/andresdominguez/protractor/tree/up

[2014-03-07 04:17] #19 closed, assigned to nobody

[2014-03-07 04:17] #12 closed, assigned to nobody

[2014-03-07 16:24] #18 closed, assigned to nobody

[2014-03-08 16:54] petebacondarwin opened #20 "Rename doc-extractor to file-reader"

[2014-03-08 16:54] petebacondarwin opened #21 "Refactor tag-extractor"
Move the tagParser 'tag-processors' into the tag-extractor

[2014-03-10 18:40] #16 closed, assigned to nobody

[2014-03-17 12:16] petebacondarwin opened #23 "Processor: Verify anchor links"
We need a processor that will run through the generated docs and ensure that any local links refer to valid anchors in the docs.

_Anyone want to have a crack at this?_

[2014-04-07 14:17] 0x-r4bbit opened #25 "Should @method tag be supported by jsdoc package?"
When using jsdoc package it yells about an unknown tag `@method`. This tag is actually supported by jsdoc by default. I wonder if we should add it to the tag definitions, or if it's intended for some reason.

Also, in `jsdoc/tag-defs/index.js` the `defaultFn` for `memberof` checks optionally for `method` property.

[2014-04-07 14:23] 0x-r4bbit opened #26 "Getting error for `@undefined` tag"
I have a doc that basically looks like this:

[code]

Using this annotation (which actually seems pretty reasonable) I'm getting this error:

[code]

I know that it comes from the tag definition of the `memberof` tag in the `jsdoc` package. But according to the source (which looks like this):

[code]

The error shouldn't be thrown. Is this a bug or am I doing something wrong?

[2014-04-09 09:22] #26 closed, assigned to nobody

[2014-04-09 12:43] #25 closed, assigned to nobody

[2014-04-09 20:42] chrisae opened #29 "jsdoc/tag-defs @see multi: true"
the documentation of JSDoc show the usage of multiple @see tags:
http://usejsdoc.org/tags-see.html

The jsdoc/tag-defs should set multi: true for "see".
Thanks

[2014-04-13 19:43] petebacondarwin opened #30 "Refactor partialNames and move to jsdoc"
The partialNames stuff and also the inline link tags are a bit hard coded to how ngdoc works.
We should redesign this to make it more generic and move it into the jsdocs package.
See https://github.com/angular/dgeni/issues/79

[2014-04-13 19:45] #29 closed, assigned to nobody

[2014-04-14 11:16] 0x-r4bbit opened #31 "Add "deployment" instructions to README in examples package"
Currently, when using the examples package as described in its readme, the following error occurs:

[code]

Without digging in angular.js' docs configuration, one wouldn't even know that there's a `deployment` configuration, or even what it's for or how to configure it.

We need to document what kind of "deployment" configuration is needed to get the examples package running.

[2014-04-22 16:59] iqrow opened #32 "Should @type tag be supported by jsdoc package?"
I don't see it listed on the readme and when I try and generate docs I get

Line: 11: @type {{}}...
    \* Unknown tag: type

After adding it to the tag-defs/index.js it was then of course 'supported' but I'm wondering if and why this particular jsdoc tag isn't supported by default?

Or am I experiencing some bug?

[2014-04-23 18:39] petebacondarwin opened #34 "Render custom ngdoc `@usage` fields consistently"
Filters and objects format custom usage fields as code, directives and modules format them as markdown.  They should all use markdown but then the linky filter will need to be updated in the Angular.js docs.

[2014-04-24 10:21] #32 closed, assigned to nobody

[2014-04-28 14:18] rousisk opened #35 "Empty space between @link's anchor name causes only part of it to be anchored"
For example, the following paragraph (taken from the [AngularJS FAQ](https://docs.angularjs.org/misc/faq)):

[code]

results to the following HTML:

[code]

That is, only part of the link's name is placed within the anchor.

[2014-04-30 09:16] #35 closed, assigned to nobody

[2014-04-30 20:25] wedgybo opened #37 "Updated package version required for NPM to work with dgeni 0.3.0"
Currently with the dependancy change to dgeni 0.3.0, the two packages won't install cleanly. You have to ask for the master branch on this repository to get dgeni-package

[2014-05-01 12:54] #20 closed, assigned to nobody

[2014-05-01 20:52] #21 closed, assigned to nobody

[2014-05-01 20:52] #37 closed, assigned to nobody

[2014-05-01 22:43] wedgybo opened #38 "jsdoc does not recongise CallExpression node type"
I'm attempting to run dgeni 0.3.0 with dgeni-packages 0.9.0 I'm getting a warning within jsdoc which I'm sure isn't serious, but I thought I'd report it anyway. This wasn't happening on the older versions.

[code]

[2014-05-02 08:10] #38 closed, assigned to nobody

[2014-05-09 18:09] Nate-Wilkins opened #39 "@module \n - triming output path"
I have a [src file](https://github.com/Nate-Wilkins/dgeni-x/blob/b4f6ce170f1b286a8eb6e0e93d5ee3d03dd3d09a/src/main.js) with the following documentation

[code]

My [configuration file](https://github.com/Nate-Wilkins/dgeni-x/blob/b4f6ce170f1b286a8eb6e0e93d5ee3d03dd3d09a/docs/dgeni.conf.js) is setup to use `ngdoc` conf with the basic setup to parse one `source.files`

When I go to generate the docu

[2014-05-09 18:58] #39 closed, assigned to nobody

[2014-05-22 12:09] jantimon opened #41 "TypeError: Cannot call method 'replace' of undefined at extractName"
TypeError: Cannot call method 'replace' of undefined at https://github.com/angular/dgeni-packages/blob/master/jsdoc/tag-defs/transforms/extract-name.js line 22

This error occurs when the TYPE_EXPRESSION_START can not be found in
https://github.com/angular/dgeni-packages/blob/master/jsdoc/tag-defs/transforms/extract-type.js line 18 as extractTypeExpression returns undefined in this case.

[2014-05-22 14:53] ajoslin opened #42 "Release New Version?"
What's the timeline for releasing a new version of dgeni-packages with the mergableTypes changes?

We're using this in Ionic, and right now we have to pull the dgeni-packages dependency from master, which isn't desirable.

[2014-05-22 20:24] #42 closed, assigned to nobody

[2014-05-22 20:56] #41 closed, assigned to nobody

[2014-05-23 09:38] jantimon opened #44 "Setting the logging.level has no effect on degeni-packages"
I am trying to find out how the templateFinder works and which templates are available.

After some searching I saw that there are log statements for that:
https://github.com/angular/dgeni-packages/blob/master/base/processors/templateFinder.js#L50

Unfortunately I am not able to get the logging working.

config

[code]

When inspecting templateFinder.js line 50 the value of log.level is undefined

[2014-05-23 10:15] jantimon opened #45 "Nuncjucks templates don't work with ngdoc"
I started with your dgeni-example:
https://github.com/petebacondarwin/dgeni-example/

After switching from jsdoc to ngdoc all of my templates were broken.
This was really confusing because I thought the responsibility of the ngdoc package would be the documentation syntax.

However that's not the case the ngdoc package changes how my templates are parsed:
From https://github.com/angular/dgeni-pack

[2014-05-28 19:50] #45 closed, assigned to nobody

[2014-05-29 16:37] #44 closed, assigned to nobody

[2014-06-13 15:00] jantimon opened #52 "The jsDoc type extractor turns recordTypes into "Object""
JSDoc allows to document the object structure of arguments and return values in the following format:
[code]

However the jsdoc implementation of dgeni replaces the `{x:number, y:number}` record type only with the word "Object".

The documented information about the object structure is lost.

https://github.com/angular/dgeni-packages/blob/master/jsdoc/tag-defs/transforms/extract-type.js#L80

[2014-06-25 10:42] petebacondarwin opened #53 "Improve linking to anchors experience"
https://github.com/angular/dgeni/issues/85

[2014-07-08 13:22] Alex04 opened #54 "npm install dgeni-packages – No compatible version found"
When trying to install the dgeni-packages, I am getting the following error copied from the npm-debug.log file:

489 error Error: No compatible version found: esprima@'^1.0.4'
489 error Valid install targets:
489 error ["1.1.0","0.7.0","0.8.0","0.8.1","0.8.2","0.9.0","0.9.1","0.9.2","0.9.3","0.9.4","0.9.5","0.9.6","0.9.7","0.9.8","0.9.9","1.0.0","1.0.1","1.0.2","1.0.3","1.0.4","1.1.0","1.1.1","1.2

[2014-07-08 13:35] #54 closed, assigned to nobody

[2014-08-18 15:50] samkuhn opened #63 "npm warning when installing dgeni-packages"
Installing dgeni (dgeni@0.4.0-beta.3) via npm worked fine:

[code]

But installing dgeni-packages (dgeni-packages@0.10.0-beta.3) raised a (non fatal) error:

[code]

[code]

.. from some native code relating to nunjucks/fsevents/threads(?) - is anyone else seeing that / should I be worrying about it?

[2014-08-21 09:49] donaldpipowitch opened #64 "Less verbose warn logs"
I currently gets logs like these:
[code]

**This is subjective**, but I think they are too verbose: they use multiple newlines, the "invalid tags found" message is to far away from the "@ngdoc" message, the starting line is logged twice and the ending line isn't _that_ necessary  if you have the starting line . As a comparison this is how TypeErrors are handled natively:
[code]

Maybe a message li

[2014-08-21 13:59] donaldpipowitch opened #65 "Improve docs: Clarify what a package exactly is/does"
I know that the official `dgeni` README has a small part about packages (see https://github.com/angular/dgeni#packages), but it would be great if this repo include a small description about what a package really is, too.

There is one specific point I misunderstood at the beginning. I thought that every dgeni package would _add_ new preprocessors and services. But every dgeni package can have an o

[2014-09-08 20:56] laurelnaiad opened #67 "ngdoc -- heavy use of nunjucks->partials good?"
At present, docs for Angular code are largely rendered as HTML partials into the docs app.

Thinking out loud here... I wonder if the "balance of power" here (as in, mostly using nunjucks as an HTML generator) is ideal?

Hypothetically, if much more of the documentation information wound up in JSON files, the role of rendering them to HTML could be shifted to Angular directives.

I come to this th

[2014-09-10 14:10] raDiesle opened #68 "Windows: npm install"
I got some issues:

npm WARN engine hawk@0.10.2: wanted: {"node":"0.8.x"} (current: {"node":"v0.10.29","npm":"1.4.14"})
npm ERR! fetch failed http://registry.npmjs.org/collections/-/collections-0.2.2.tgz
npm ERR! EEXIST, mkdir 'C:\dab-web\node_modules\dgeni-packages\node_modules\winston\no
de_modules\request\tests\ssl\ca'
File exists: C:\dab-web\node_modules\dgeni-packages\node_modules\winston\nod

[2014-09-12 21:30] #63 closed, assigned to nobody

[2014-09-12 21:30] #30 closed, assigned to nobody

[2014-09-23 18:02] c0bra opened #72 ""Invalid tags found" warnings from @methoOf?"
I'm making an attempt at bringing some old ngdoc documentation forward to dgeni and I'm getting a ton of warnings that look like this:

[code]

The ngdoc section looks like this:

[code]

There's no clarification on WHY it's a warning, and both google and the angular source have failed to help me find out why. Removing the @methodOf line does get rid of the warning so it's definitely coming from t

[2014-09-25 08:59] maksimr opened #74 "Using preprocessors for file content before getting docs"
For example.
We have jsx with jsdoc comments. Before passing file content to `jsdocFileReader` we should before pass file content through `jsx` preprocessor.

Now solution look like, create [jsxFileReader](https://gist.github.com/maksimr/5ed25c631d3ad6011263) which will be use jsdocFileReader.
But more sophisticated solution will be something like (IMHO):

[code]

What do you think about this?

[2014-09-25 19:26] #72 closed, assigned to nobody

[2014-09-25 19:27] #68 closed, assigned to nobody

[2014-09-30 10:08] #31 closed, assigned to nobody

[2014-10-06 13:54] #23 closed, assigned to nobody

[2014-10-06 20:07] #53 closed, assigned to nobody

[2014-10-09 15:47] Narretz opened #81 "Table of contents for individual pages"
For longer pages with mutliple headlines (sections), it becomes difficult to know what exactly the page covers. For example, https://code.angularjs.org/snapshot/docs/guide/forms has 7 distinct sections. It would be cool to have a way of generating these headlines as a toc at the top / custom position of the page.

[2014-10-14 19:05] Narretz opened #83 "Linking to ids from {@link ...} doesn't work"
Specfifically something like:

`{@link ngModel.ngModelController#$validators `$validators`}`

where `#$validators` refers to an element with the id `$validators`

@petebacondarwin  I assume there's a processor which extracts all possible link targets and another one that replaces the references with real links?

[2014-10-15 13:42] twjacobsen opened #84 "Log filePath when syntax error is thrown in jsdoc"
This might seem like a strage request, since no could should contain syntax errors, but never the less, it's an issue I'm facing regularly.

Currently, I've fixed this myself for v0.9.x, having forked this repo, but I can't get my head wrapped around the new structure in v0.10.

Here's what I've done for v0.9.x, in `jsdoc/file-readers/jsdoc.js`:

[code]

The implementation would be very similar fo

[2014-10-15 16:30] #84 closed, assigned to nobody

[2014-10-17 20:05] #83 closed, assigned to nobody

[2014-11-02 19:17] Narretz opened #92 "Markdown headings with ` are generating inconsistent ids"
When a heading has a `, it will be replaced by -, which makes sense, but also makes it difficult to link to these sections, because you don't expect that.

Example:

```# `ngOptions` ``` generates `<h1 id="-ngoptions-">...</h1>`

[2014-11-09 15:04] m7r opened #94 "angular-docs future"
the angular-docs branch looks really promising. What are your plans with it? Is it safe to use it as a base for a documentation app?

[2014-11-20 14:16] k-kinzal opened #99 "Happen warning @include..."
I generate of AngularJS document. but warning happen.

[code]

How exclude @import tag?

[2014-11-26 06:55] sjelin opened #100 "jsdoc throws error with 2 uses of @see tag."
Using docgen on a copy of webdriver's [locators.js](https://code.google.com/p/selenium/source/browse/javascript/webdriver/locators.js#105).  Getting the following error:

[code]

It's being thrown [here](https://github.com/angular/dgeni-packages/blob/master/jsdoc/processors/extract-tags.js#L127).  This is weird because it [appears that you have set up the `see` tag to tolerate multiple instances](

[2014-11-26 09:43] #100 closed, assigned to nobody

[2014-12-04 04:19] heycalmdown opened #101 "Need to support typescript"
Because of the processor jsDocFileReader uses `esprima` to parse javascript syntax, we can't feed typescript files into `dgeni` directly.
It'd be possible if we can support multiple syntax parser or fallback which is like simple text parser.

Any thought?

Worth to reference: https://github.com/lbovet/typson

[2014-12-17 23:08] c0bra opened #102 "runnableExample has no outputPath"
I'm really stuck on this one.  Trying to get an example to build properly but I get this:

[code]

I've tried going through all the docs config for angular.js, angular-material, ionic, etc, but can't figure out how the outputPath gets set for examples. It _seems_ like the function is just a noop in the the examples package, but I can't see any of the projects that use this package (angular.js & an

[2014-12-18 16:33] #102 closed, assigned to nobody

[2015-01-19 12:23] Antontelesh opened #103 "Using @ngdoc property causes error"
It seems like I'm doing something wrong.
Since you does not yet have documentation, please help me with my config.

I set up my documentation. All seems to work.
But if I use <code>@ngdoc property</code> directive, dgeni fails with error in <code>extractTagsProcessor</code>:

<pre>
info:    running processor: readFilesProcessor
info:    running processor: extractJSDocCommentsProcessor
info:    run

[2015-01-19 12:38] Antontelesh commented on #103
Oops... it was my fault. Left some <code>@param</code> directive unfilled. Sorry...

[2015-01-19 12:38] #103 closed

[2015-01-22 15:06] SirDarquan opened #104 "Requiring Externals"
I understand the dgeni is still a proof of concept, but this is some really good stuff. Took me about a week to begin to grasp the power available to me, but that's besides the point here...

Ok so I'm creating documentation of an angular project for my company and I'm using dgeni obviously. One of the things I can't seem to do is set the @require tag for angular objects. For instance:
[code]
Here

[2015-02-11 15:38] MaartenVerbaarschot commented on #92
I suppose this could become a PR for https://github.com/blakeembrey/sentence-case/blob/master/sentence-case.js which is the used implementation. (Adding an option to strip leading/trailing replacement characters, or even by default)

[2015-02-14 00:30] btford opened #107 "Support async filters in nunjucks"

[2015-02-15 04:25] RyanQuackenbush commented on #104
Throwing another idea in.

I like the @ requires{ng:$q} syntax. I think a great way to implement it would be to create a processor which has some config setup for external modules (ie "ng") and point it at a given config driven url.

[code]
which in turn would take @ requires {ng.service.$q} and create a url `https://docs.angularjs.org/api/ng/service/$q`

[2015-02-21 10:54] mzgol opened #108 "Compat with Node 0.12: nunjucks needs to get updated"
`dgeni-packages` depends indirectly on `fsevents` and the requested version doesn't compile on Node.js 0.12. This is a soft failure so the package works but all that's needed is to update `nunjucks` to the latest version (`1.2.0`) that depends on a compatible `fsevents`.

This caused @IgorMinar problems in trying to use Node 0.12 in PR https://github.com/angular/angular.js/pull/11110.

[2015-03-18 07:51] bigmeech opened #110 "missing module error"
hi,

i've been having issues pointing my dgeni configuration to our angular app source code at work. It seems the problem has something to do with the order in which the ready-made dgeni-package processors read the files. here is what i have noticed. Say i have three modules aModule, bModule, and cModule with a submodule c1Module. And then these modules have factories, filters and directive attach

[2015-03-18 14:32] rochdev opened #111 "Support all jsdoc tags"
Several jsdoc tags including but not limited to `@extends` / `@augments` are causing "Invalid tags found" warnings. Since these are official jsdoc tags, they should be supported by the processor.

[2015-03-20 11:59] bigmeech commented on #110
This error was due to my initial lack of understanding of how to use and configure dgeni. I was using examples from the example-package and didnt fully understand the work of processors. Closing this.

[2015-03-20 11:59] #110 closed

[2015-04-02 10:36] Antontelesh opened #112 "codeNameProcessor throws warning when parsing "@ngdoc property""
Using `@ngdoc property` sometimes throws warning when compiling.

For example

[code]

Each of these properties will throw warnings when being compiled, because `codeNameProcessor` tries to calculate property type depending on the property value, no matter what is the `@type` directive value.

How can I set up Dgeni to prevent it to parse my real code?

[2015-04-16 11:53] scottux commented on #110
Can you provide some more info on what you did to resolve this? I am having the same issue.

[2015-04-29 16:32] aacotroneo opened #113 "Markdown filter for plain links instead of [link]"
Hi, I'm using angular-docs branch. I 'm having problems with the nunjuck 'marked' filter transforming a simple link into an 'a' tag.

Is that ok? I'm having conflict when I use {@link external}, because the filter translates 'external' first.

[code]

[2015-05-06 08:55] petebacondarwin commented on #108
Nunjucks dependency has been updated.

[2015-05-06 08:55] #108 closed

[2015-05-06 08:56] petebacondarwin commented on #101
I guess it depends upon how compatible the two ASTs created by esprima and TypeScript are...

[2015-05-06 08:58] petebacondarwin commented on #104
Yes, I think some method for identifying external code components would be the right way forward here...

[2015-05-06 09:02] petebacondarwin commented on #111
It is easy enough to add such tags into your own dgeni configuration, see how it is done here:

https://github.com/angular/dgeni-packages/blob/master/ngdoc/index.js#L26-L29

You just define a tag definition and add it to the list of definitions that you expect the tagParser to read.

We didn't add `extends` and `augments` because they are not used in the current angular docs.

[2015-05-06 09:05] petebacondarwin commented on #112
The codeNameProcessor only looks into the code for the name if there is not already a `codeName` property on the doc. See https://github.com/angular/dgeni-packages/blob/master/jsdoc/processors/code-name.js#L11

So you could prevent this from happening by defining a `@codeName` tag or by implementing a processor that runs before `codeNameProcessor` which computes the `codeName` property from the `n

[2015-05-06 09:07] petebacondarwin commented on #113
Hmm. We ought to be able to configure marked not to try to convert links that are not in the `[title](address)` syntax.

[2015-05-06 10:05] #112 closed

[2015-05-06 10:05] Antontelesh commented on #112
Thank you, @petebacondarwin, for your response.

[2015-05-06 22:40] rochdev commented on #111
@petebacondarwin Would you mind if I make a pull request to add official support? I really think support should be built-in even though the angular docs don't need it.

[2015-05-07 04:15] heycalmdown commented on #101
Thanks, that was exactly I concerned and had curious. IMHO, I assume it is not a simple problem, but understood your point.

[2015-05-07 11:38] petebacondarwin commented on #111
Sure, please do. You could also add `@enum` while you are at it. Thanks

[2015-05-27 04:50] eggers opened #116 "Where does the git.version.branch get set in the templates?"
I'm just trying to walk my way through the code, and I'm seeing some `git` variables in the ngdoc code, but I'm not seeing where the `git` property is created. For example, `{$ git.version.branch $}` and  `{$ git.info.repo $}/tree/{$ git.version.isSnapshot and 'master' or git.version.raw $}`

[2015-05-27 06:50] forresst commented on #116
I found this in the angularjs code:
- **A processor**: https://github.com/angular/angular.js/blob/master/docs/config/processors/versions-data.js
- Who use **a service**: https://github.com/angular/angular.js/blob/master/docs/config/services/gitData.js
- Who use **a library**: https://github.com/angular/angular.js/blob/master/lib/versions/version-info.js

@petebacondarwin An opinion?

[2015-05-27 14:36] eggers commented on #116
@forresst That looks right. There is also this piece where gitData gets added to the extraData.

[code]

https://github.com/angular/angular.js/blob/cc961888cd4d37b112864db69486bc83daea7010/docs/config/index.js#L66-L69

Though,  there should probably at least be some comments in the ngdoc degeni package to the fact that the templates depend on `renderDocsProcessor.extraData.git` being set in a `con

[2015-05-27 15:06] forresst commented on #116
@eggers Indeed, I forgot the lines 66 to 69. Sorry.

I agree with you that it lacks information on that.
Is it an oversight? or does it integrate to ngdoc package?

[2015-05-27 15:26] petebacondarwin commented on #116
I would like the git related stuff to go into its own package if that is
possible without massive refactoring to other packages.

On 27 May 2015 at 16:06, Stéphane Reynaud <notifications@github.com> wrote:

[2015-05-27 15:52] forresst commented on #116
@petebacondarwin If I'm not mistaken, the `git` variables are used only in two templates ngdoc: `api.template.html` and `base.template.html`.

At first sight, this seems easy enough.
I think I'm able to do that. I have just one question to understand your idea:
How will you adapt both templates using the new package `git`?

[2015-05-27 17:14] petebacondarwin commented on #116
I would like the logic that works out the git information from the package.json etc to be in its own package. This package could then be depended upon by the `ngdoc` package.

[2015-05-28 05:31] forresst commented on #116
Ok I understand the logic. I look and do a PR in a few days ...

[2015-05-28 06:52] eggers commented on #116
@forresst I have started working on a git package that will work with both this repo and the angular.js repo. I've started just adding it to this repo locally, but will move to dgeni-packages when it's ready.

[2015-05-28 07:23] forresst commented on #116
@eggers Ok, I'll read your code with pleasure

[2015-05-28 08:29] eggers commented on #116
@forresst just writing tests now for the package I'll push in the morning going to sleep, still need to work on the integration with the angular(.js) doc packages.

[2015-05-28 08:45] forresst commented on #116
@eggers Ok

[2015-05-29 07:03] forresst commented on #116
@eggers Although you have not finished, I have read your code. I make some comments, but the code seems to me good

[2015-05-30 17:01] eggers commented on #116
@forresst Just made the changes you suggested, still need to think about how to solve the docsUrl, I also removed the spec until I can finish that one.

[2015-06-01 09:48] eggers commented on #116
@forresst I've abstracted out the docsUrl, and some other manual work done for angular. Also, added a few tests. More are needed. Let me know if you have any further comments.

[2015-06-01 11:39] forresst commented on #116
I am snowed at the beginning of the week. I will look into the details as soon as possible.
But I read quickly, the [setCustomVersionProperties](https://github.com/eggers/dgeni-packages/blob/feat-git-package/git/services/setCustomVersionProperties.js) function is a good idea.

If you want to change the content of the function for a personel project, how will you do? Should we not use a processor a

[2015-06-01 17:43] eggers commented on #116
@forresst Thanks for taking a look.

You should be able to override the `setCustomVersionProperties` factory for any parent project by creating your own version of the service and calling `.factory(require('./services/setCustomVersionProperties'))` in your package's `index.js`

[2015-06-01 21:24] petebacondarwin commented on #116
Let's move the discussion over to the PR at #117

[2015-06-01 21:24] #116 closed

[2015-06-03 19:28] SirDarquan opened #118 "Typescript file reader"
So I noticed that in the angular/angular project, a Typescript parser was created to help the team create documentation from Typescript. Can you add that to this repo so we all can benefit?

[2015-06-14 04:30] ethanhann opened #120 "Directive usage section missing types"
Should [this line](https://github.com/angular/dgeni-packages/blob/7178e9eb599aed1ee9663bfa7ef47eefe302dbb4/ngdoc/templates/lib/macros.html#L38) in the directiveParam macro use __type.name__ instead of __type.description__? __type.description__ never appears to be populated. For example, this doc:

[code]

...generates a doc with this in its usage section:

[code]

Notice that the __menu-name__ att

[2015-06-20 23:50] #67 closed

[2015-06-20 23:50] #74 closed

[2015-06-20 23:51] #99 closed

[2015-06-20 23:57] #52 closed

[2015-06-22 13:21] roryf opened #123 "Error when package.json does not contain repository field"
Since 81944685b25c656c1fb66b12f3d028f09f6fd52b, when my `Package` depends on `dgeni-packages/ngdoc` but the `package.json` does contain a `repository` field, attempting to run `dgeni` results in

I didn't make changes to depend on the `git` package directly, this works fine with `0.10.4`

[2015-06-22 16:29] c0bra commented on #123
Dittos

[2015-06-22 17:24] c0bra commented on #123
@petebacondarwin @eggers I would suggest that the **git** package be removed as a dependency from the **ngdoc** package until this can be cleaned up. There a few problems:

1. It presumes that a project will have a repository defined in package.json, and throws exception if it's not there. Furthermore test specs *expect* an exception if there's no repository defined.  If a user wants to use the ng

[2015-06-22 17:26] petebacondarwin commented on #123
I will fix this today!

[2015-06-22 19:51] c0bra commented on #123
Yay!

[2015-06-22 22:39] #123 closed

[2015-06-22 22:40] petebacondarwin commented on #123
So I agree that the `ngdoc` package should not depend upon the `git` package. The `git` package is more like a mix-in, similar to the `examples` and `nunjucks` packages.

[2015-06-22 22:43] petebacondarwin commented on #123
Landed these fixes as 0.10.16. @roryf and @c0bra can you take a look and see if it works for you?

[2015-06-23 14:05] c0bra commented on #123
Looks good! Thanks Pete :)

[2015-06-24 19:40] wesleycho commented on #118
@petebacondarwin so I took a look at this a couple of days ago, and noticed that currently the code is being read and then parsed directly from a string, whereas it does not appear the TypeScript parser is exposed publicly except via reading in the file through TS itself. I also noticed that the version of dgeni consumed by the Angular 2 repository is quite different from this one, and has support

[2015-06-25 06:35] petebacondarwin commented on #118
The version of dgeni is the same, I believe. The difference is that in Angular 2 we are not bothering to use a file reader to read in the code, since the typescript library does that for us.

[2015-06-25 06:37] petebacondarwin commented on #118
This file - https://github.com/angular/angular/blob/master/docs/dgeni-package/processors/readTypeScriptModules.js - is reading the code files and generating new docs for each export.

[2015-06-25 11:06] sebastienbarbier opened #126 "Nested Properties in ngDoc"
Hi everyone,

I am having an issue with nested properties description using ngdoc. jsDoc suppose to deal with such case but impossible to make it work in my project.

What I try to do (exemple from [JSDoc website](http://usejsdoc.org/tags-property.html)) :
[code]

And this is what I am trying to do :
[code]

But no way ... I looked a bit in dgeni package source code and found the template I use wh

[2015-08-27 15:07] andy-dorman opened #135 "ES6 support"
Hi peeps,

Any clue when ES6 support will be included in master? I've tried pointing at the espree-refact branch and that gets me further, but now I'm getting "Unknown node type ExportDefaultDeclaration" error originating in estraverse.

For what it's worth, I've pretty much ripped out the angular documentation build files and pointed them at my own project files - it was working great until I sta

[2015-08-27 20:10] karol-f commented on #135
@andy-dorman Last 3 commits from @yleviel solve issue with ExportDefaultDeclaration - https://github.com/yleviel/dgeni-packages/commits/espree-refact

[2015-08-28 07:27] andy-dorman commented on #135
Thanks, that works like a charm! Any idea when it might be accepted into master?

[2015-08-28 07:30] karol-f commented on #135
There are two PR waiting:
* https://github.com/angular/dgeni-packages/pull/130
* https://github.com/angular/dgeni-packages/pull/131

So it's up to @petebacondarwin to merge it.

[2015-09-19 22:43] mikejpeters opened #136 "Esprima dependency should be >1.1.0"
It looks like the `attachComment` option used by [jsdocFileReader](https://github.com/angular/dgeni-packages/blob/v0.10.19/jsdoc/file-readers/jsdoc.js#L19) was [added](https://github.com/jquery/esprima/commit/7c351506980eea0ca665472464210c92f6dbab9d) in esprima `v1.1.0`, so the file reader does not work correctly with esprima `v1.0.4`.

This seems particularly troublesome in npm v3, which [flatten

[2015-09-28 22:50] juliemr commented on #136
We're also seeing this cause issues with Protractor's setup. Specifically, something in the depths of bower's dependencies uses esprima at 1.0.4.

[2015-10-16 08:14] trummerjo opened #138 "curly brackets in inline-tags"
At the moment it is not possible to use curly brackets in an inline-tag defenition because the first closing one will close the inline tag:

`{@formatObject {image: {picture: 'personPicId'}, details: {name: 'personName'}}}`

[2015-10-26 19:10] fenduru opened #140 "git versionInfo#getCodeName throws if no code name"
https://github.com/angular/dgeni-packages/blob/master/git/services/versionInfo.js#L31

This immediately indexes into `[0]`, however if there is no match then this function throws instead of returning null

[2015-10-27 17:52] csaftoiu opened #141 "Documentation of property of property of service doesn't render"
(Redirected from [angular.js #13178](https://github.com/angular/angular.js/issues/13178).)

Given this code:

    var zomg = angular.module('zomg', []);

    /**
     * @ngdoc object
     * @name zomg.Foo
     * @description
     * # Foo
     */
    zomg.factory('Foo', [function () {
      return {
        /**
         * @ngdoc object
         * @name zomg.Foo.bar
         * @propertyOf zomg.Foo

[2015-10-31 16:05] #136 closed

[2015-10-31 16:23] petebacondarwin commented on #138
I guess the most effective solution would be to do brace counting?

[2015-10-31 16:39] #140 closed

[2015-10-31 16:41] petebacondarwin commented on #141
This is not currently supported in the `ngdoc` package right now.

[2015-10-31 17:24] petebacondarwin commented on #135
The ES6 related PRs are now merged. I am going to close this.
Sorry for the wait.
Please open new issues and PRs with any further problems getting ES6 code to work with dgeni.

[2015-10-31 17:24] #135 closed

[2015-11-05 06:21] petebacondarwin opened #144 "Add `@license` tag to jsdoc package"

[2015-11-05 08:25] forresst commented on #144
For commonly open source licenses, it may be helpful to use [SPDX License List](http://spdx.org/licenses/) as described in the documentation of [@license](http://usejsdoc.org/tags-license.html) jsdoc.

There is even a package npm to retrieve the texts of licenses :  [spdx-license-list](https://www.npmjs.com/package/spdx-license-list). For example, this can be used to automatically create the `Lice

[2015-11-05 08:33] petebacondarwin commented on #144
@forresst - this sounds interesting. Are you suggesting that if the value of the tag matches an identifier, we also lookup and provide the full text of the license?

[2015-11-05 08:42] forresst commented on #144
@petebacondarwin This is exactly what I thought. Sorry if I was not clear enough.

[2015-11-05 08:46] petebacondarwin commented on #144
Cool.

[2015-11-06 23:56] #144 closed

[2015-11-13 14:55] keirlawson opened #146 "Make module prefix used by moduleDocsProcessor configurable"
Right now this is hardwired as "ng", would be great if this was just a default value that could be overriden in a config block.  If this is considered desirable I can submit a PR.

[2015-11-16 18:39] fenduru commented on #140
This change just moves the error to a few lines later where `if(!codename)` is checked. It certainly provides a better error message, but still doesn't work in cases where a codename doesn't exist.

[2015-11-16 19:54] csaftoiu opened #147 "How do I document an attribute should either be present or absent?"
I want to create a directive which takes a parameter based on whether an attribute is present. That is:

    <foo some-attr></foo>

Should do one thing, while:

    <foo></foo>

Should do another thing. I know how to accomplish this [in code](http://stackoverflow.com/questions/25811734/check-existence-of-attribute-in-angular-directive).

The question is, how do I document this with [ngdoc](https:/

[2015-11-16 21:11] petebacondarwin commented on #140
Agh!

[2015-11-16 21:13] petebacondarwin commented on #140
OK, sorry about that @fenduru. How about we log a warning and return `null`?

[2015-11-17 20:39] fenduru commented on #140
No worries @petebacondarwin. It seems that this project is very targeted toward the Angular.js project, so I wonder if I should actually be relying on this in my project.

If this project is intended for general use, then I don't even know if this warrants a warning since I'm not aware of any other projects that put codenames in their git tags

[2015-11-17 21:09] petebacondarwin commented on #140
Actually you are right. We don't really need a warning or error. We can just set it to null and then let the client decide what to do.

[2015-12-14 04:11] windmaomao commented on #141
the property name can not have children, right ? ex. "abc" is ok, but not "abc.def".

[2015-12-14 04:49] windmaomao opened #149 "inlineTagProcessor repeats twice in inline-tags.js"
For whatever reason, inlineTagProcessor definition happens twice under /jsdoc/processors/inline-tags.js, therefore break the "npm run docs"

[2016-01-06 08:03] thevenmuthu opened #150 "eventOf and eventType problem"
Hi. I am using Dgeni to generate documentation. All went fine until I encounter events. I am unable to extract information related to events since Dgeni keep prompting that there is something wrong with eventOf and eventType. It says 'cannot read property 2 of null' for eventType. For eventOf, it reports 'invalid tag'. Kindly, take a look on this issue. Thank you.

[2016-01-15 21:56] destroyerofbuilds opened #151 "Allow Package URL To Be Something Other Than GitHub"
Line 8 of `gitRepoInfo.js` sets up the expectation that a project's repo URL is relative to GitHub.

Could this line be altered to allow alternative hosting platforms, such as BitBucket and GitLab?

This is kind of a follow-up to #123

An alternative would be something like:

[code]

[2016-01-17 00:27] yccteam opened #152 "Error: "@undefined" tag found on non-js document - doc"
Here are my defs:
[code]

Any idea why I get this error:

    at transforms (D:\development\gitHub\ui-grid-columns-filters\node_modules\dgeni-packages\jsdoc\tag-defs\memberof.js:11:15)
    at Object.tagDef.getProperty (D:\development\gitHub\ui-grid-columns-filters\node_modules\dgeni-packages\jsdoc\processors\extract-tags.js:54:17)
    at readTags (D:\development\gitHub\ui-grid-columns-filters\node

[2016-01-21 04:27] shinygruv3 commented on #152
perhaps @methodOf instead of @memberof.

[2016-01-28 10:45] davidreher commented on #118
@petebacondarwin Are there any plans for including the typescript package in dgeni-packages? Shall I submit a PR?

[2016-01-28 10:58] petebacondarwin commented on #118
@davidreher - that would be great if you wanted to make a PR - we need to make sure that the version that goes into dgeni-packages is:

* independent of the Angular 2 project - i.e. doesn't have any funny special features that are only suited for the Angular 2 doc generation
* can still be used in the Angular 2 project, without modification. There is little point in pulling it out if we then have

[2016-02-02 07:43] qwelyt opened #155 "ngdocs does not use templateUrl for directive element"
Trying to get started with ngdocs and have created a new project to try and get it up.
I'm using https://github.com/m7r/grunt-ngdocs to generate the documentation.
However, the documentation does not seem to actually work.

I have a directive like in the following example: http://plnkr.co/edit/zxrCfABbQqjWcBJKYB78?p=preview

It's basically a wrapped `input` with fancy input-checks, as you can see

[2016-02-09 18:05] remcohaszing opened #156 "Extract ngdocs from AngularJS AST"
I'm currently working on a Dgeni Package which extracts and generates ngdocs from the AngularJS AST.

I am aware of the `angular-docs` branch, but I decided that it looks outdated and I preferred a different approach anyway.

The code is pretty raw, untested and barely documented, but I think it already supports more features than the `angular-docs` branch.

I haven't published this code yet, but

[2016-02-09 22:47] petebacondarwin commented on #156
A PR for dgeni-packages would be great!

On 9 February 2016 at 10:05, Remco Haszing <notifications@github.com> wrote:

[2016-02-15 19:26] Narretz opened #158 "Usage part for directives with boolean/void attrinbute selectors"
The usage section renders the possible combinations based on the params (=attributes). When an attribute directive does not use the attribute value, it usually has no param defined for that either, which means the attribute is missing in the usage section.
I think this should be special cased in here https://github.com/angular/dgeni-packages/blob/master/ngdoc/templates/api/directive.template.html

[2016-02-26 12:35] wingedfox commented on #150
@eventType requires value in form of '<emit|broadcast|listen> on <object>'

Source: https://github.com/rubenv/angular-gettext/blob/master/src/catalog.js#L44
Docs: http://wingedfox.github.io/dgeni-alive/docs/angular-gettext/#/api/gettext/service/gettextCatalog

[2016-03-01 19:36] skymountain2012 opened #160 "Could you add support for ClassDeclaration?"
I was trying to add an ngdoc comment above a class definition (es6) like:
[code]

But when using dgeni to generate documentation, I got " HELP! Unrecognised node type: ClassDeclaration" error.

It looks like that we just need to change jsdoc/processor/code-name.js to handle ClassDeclaration type.

Thanks.

[2016-03-11 23:05] wingedfox commented on #147
Hi,

Take a look at [Dgeni-alive](https://github.com/wingedfox/dgeni-alive) generator, it is based on the recent dgeni-packages and provides more features than ngdocs ([demo](http://wingedfox.github.io/dgeni-alive/docs/angular-gettext/#/api/gettext/directive/translate)).

[2016-03-11 23:15] wingedfox commented on #155
Hi,

ngdocs does not use dgeni-packages for processing sources and rendering templates. You can check the [demo](http://wingedfox.github.io/dgeni-alive/docs/angular-gettext/#/api/gettext/service/gettextCatalog) of [Dgeni-alive](https://github.com/wingedfox/dgeni-alive) generator, it is based on the recent dgeni-packages and renders [examples](https://github.com/wingedfox/angular-gettext/blob/more-

[2016-03-15 17:42] destroyerofbuilds opened #162 "Please release d749314ccd27d6e14b3344f6f39464d2669170c2"
Can a new version of `dgeni-packages` with change d749314ccd27d6e14b3344f6f39464d2669170c2 please be released?

[2016-03-15 17:43] destroyerofbuilds commented on #162
And cf2c28bfeed7ad3437c5d274c8a41e58e6822291

[2016-03-22 15:45] yujuiting commented on #152
It seems like only work for docType is event, property or method, but the question is that docType is set to js. Is it a incomplete feature?

[2016-03-28 22:15] wingedfox commented on #104
Hi,

As long as there's no recent activity overhere, I've added several 'extension' packages to the dgeni-alive doc generator. One of them is external links builder which does mostly the same job as proposed above.

Take a look at:
* sources: https://github.com/wingedfox/dgeni-alive/blob/master/src/packages/links-ext/services/links/angular-link.js
* inline docs: https://github.com/wingedfox/angula

[2016-03-29 09:49] thevenmuthu commented on #150
@wingedfox Thanks for the info. Worked like charm.

[2016-03-29 11:09] wingedfox commented on #162
Hi,
ArrowFunction, MethodDefinition and ClassDefinition you can take from dgeni-alive/jsdoc-ext@0.2.2 package.
Take a look at https://github.com/wingedfox/dgeni-alive/tree/v0.2.2/src/packages/jsdoc-ext/services/code-name-matchers

[2016-03-29 11:11] wingedfox commented on #160
Hi,

ClassDeclaration is available in dgeni-alive/jsdoc-ext package: https://github.com/wingedfox/dgeni-alive/tree/v0.2.2/src/packages/jsdoc-ext/services/code-name-matchers
It allows to define own matchers as necessary.

[2016-04-01 16:34] #151 closed

[2016-04-03 11:23] petebacondarwin commented on #101
We now have TypeScript support as of 3e07adee84b7a795a0fb02d7181effa593fb9b4f

[2016-04-03 11:23] #101 closed

[2016-04-03 11:24] petebacondarwin commented on #118
We now have TypeScript support as of 3e07adee84b7a795a0fb02d7181effa593fb9b4f

[2016-04-03 11:24] #118 closed

[2016-04-03 11:24] petebacondarwin commented on #162
New version 0.12.0 released

[2016-04-03 11:24] #162 closed

[2016-04-04 16:19] ericjim opened #166 "TypeScript build output differs from JavaScript output"
Consider the output of [dgeni-example](https://github.com/petebacondarwin/dgeni-example)

1.) We run the build
![screen shot 2016-04-04 at 12 08 05 pm](https://cloud.githubusercontent.com/assets/1329167/14254513/0f053b98-fa5e-11e5-952c-d8b26ec95dcf.png)

2.) Our output looks like:
![screen shot 2016-04-04 at 12 08 40 pm](https://cloud.githubusercontent.com/assets/1329167/14254523/1945f520-fa5e-11e

[2016-04-04 17:19] ericjim commented on #166
I must add `dgeni-packages/jsdoc` and `dgeni-packages/base` to my dgeni package. That solves some of the issues. I now need to figure out how to flatten the output and have the files not be named `index.html`.

Another thing I've noticed is that in the [fork example](https://github.com/pvadam/dgeni-example/tree/typescript-example) I am a still wondering how I can extract the docs that come from in

[2016-04-04 19:56] ericjim commented on #166
After doing a deep dive, I can manipulate the directory structure by doing the following:

[code]

[2016-04-04 20:22] ericjim commented on #166
I've managed to read grab internal documentation by leveraging [nunjucks](https://mozilla.github.io/nunjucks/)

Here is how I grab the method names, parameters and descriptions in the template file.
[code]

[2016-04-04 20:38] ericjim commented on #166
Closing this issue. The full example can be viewed here: https://github.com/ericjim/dgeni-typescript-example

[2016-04-04 20:38] #166 closed

[2016-04-04 20:47] petebacondarwin commented on #166
Good work @ericjim

[2016-04-05 16:32] ericjim opened #168 "JSDoc complains about @private in @member document for an @method in TypeScript"
The jsdoc `extract-tags` extractor throws an error (explained later below) in the presence of `@private` when used in a `@method` inside a `@member` document.

Consider the following doc string from the Material2 repo.

[code]

I would like to compile this documentation using my dgeni package configuration:
https://gist.github.com/ericjim/9f392e6db648a4a37c8bf4246cf03d3e

However, I get the follow

[2016-04-05 16:58] petebacondarwin commented on #168
The tags are overly constraining and we should remove their checks.

[2016-04-05 17:13] destroyerofbuilds commented on #168
Ran into a similar issue but encountered the error for methods using `@ngdoc method`.

[2016-04-05 17:30] ericjim commented on #168
I removed the whole check I modified. @petebacondarwin Do you also want me to remove the following checks?

[code]

[2016-04-21 00:43] ryneo opened #175 "Syntax errors in createCompilerHost"
There are syntax errors when defining the `fileExists` and `readFile` functions in `createCompilerHost`.

https://github.com/angular/dgeni-packages/blob/master/typescript/services/tsParser/createCompilerHost.js#L60

https://github.com/angular/dgeni-packages/blob/master/typescript/services/tsParser/createCompilerHost.js#L75

[code]

[2016-04-28 15:36] SirDarquan opened #176 "Use TypeScript modifiers to determine access"
Issue #168 added code to allow us to use the @private, @protected and @public tags in TypeScript but I think the point was missed. The promise of using TypeScript is that we shouldn't have to define some of our commenting metadata. TypeScript already provides facilities to determine the access level of a method and we should use that. With that said, here's what needs to be done in readTypeScriptM

[2016-04-28 16:12] SirDarquan opened #177 "Allow @param to be enhanced by TypeScript"
The promise of TypeScript in Dgeni is that we won't need to redefine metadata about our code for commenting purposes and method parameters are no exception. Here's an example of our current situation:
[code]

TypeScript knows that `myParam` is of type string but in order for my documentation to know that, I had to tell it, which sux. It would be nice if the param tag would automatically enhance it

[2016-05-07 17:56] SirDarquan opened #178 "Enhanced parameter data"
In my last issue #177, I asked that the @param peer into the TypeScript parameters property to allow it to associate untyped parameter descriptions with the types discovered by TypeScript so we can type a little less. Now I'm asking  further enhance the data TypeScript exposes so that we can have richer documentation. Unfortunately, what I'm asking for would be a breaking change since the format o

[2016-05-09 18:17] mikejpeters opened #179 "relativePath returned by tsParser getFileInfo() is sometimes absolute"
The dgeni TypeScript package sometimes generates docs where `doc.fileInfo.relativePath` is an absolute path instead of relative.  This also affects the `doc.id`, which I think is resolved from this property.

It seems that if  `readTypeScriptModules.sourceFiles` is configured so that the TypeScript parser parses a file **before** it parses a second file that is imported by the first, it affects ho

[2016-05-10 08:57] petebacondarwin commented on #176
This sounds good to me. Anyone fancy putting a PR together?

[2016-05-12 08:31] #160 closed

[2016-05-12 09:04] #168 closed

[2016-05-12 10:15] #34 closed

[2016-05-12 10:15] petebacondarwin commented on #64
Closing as not a high priority

[2016-05-12 10:15] #64 closed

[2016-05-12 10:16] petebacondarwin commented on #65
I think this is reasonably well documented in READMEs, example projects and conference talks.

[2016-05-12 10:16] #65 closed

[2016-05-12 10:17] petebacondarwin commented on #81
Not a priority.

[2016-05-12 10:17] #81 closed

[2016-05-12 10:39] petebacondarwin commented on #92
It looks like `marked` is no longer being maintained.
We should look to migrate to using https://github.com/markdown-it/markdown-it
with the https://www.npmjs.com/package/markdown-it-anchor plugin

[2016-05-12 10:39] #92 closed

[2016-05-12 10:40] petebacondarwin opened #181 "Update unsupported `marked` library to `markdown-it`"
https://github.com/markdown-it/markdown-it

Fixes #92

[2016-05-12 10:41] petebacondarwin commented on #94
Moving discussion to #157

[2016-05-12 10:41] #94 closed

[2016-05-12 11:06] petebacondarwin commented on #104
I think that dgeni-alive looks like a good place to collaborate on using dgeni to document Angular 1 apps.

[2016-05-12 11:06] #104 closed

[2016-05-12 11:06] petebacondarwin commented on #107
Not a priority

[2016-05-12 11:06] #107 closed

[2016-05-12 11:06] petebacondarwin commented on #111
I think we are mostly there now. If there are any more specific tags that we should cover then please submit specific issues for them.

[2016-05-12 11:06] #111 closed

[2016-05-12 11:08] petebacondarwin commented on #113
Is this still a problem? I can't remember whether I looked into it or not

[2016-05-12 11:11] petebacondarwin commented on #120
You are correct. We did in fact fix it here: https://github.com/angular/angular.js/blob/master/docs/config/templates/lib/macros.html

But it should be fixed here too

[2016-05-12 11:15] #120 closed

[2016-05-12 19:02] petebacondarwin commented on #126
This is currently not supported. I don't think I will get round to implementing this. If someone else wished to do so that would be fine!

[2016-05-13 15:54] petebacondarwin commented on #146
If the module does not start with `ng` then it doesn't fail. Rather than adding more configuration to what is there, I would think it was better just to provide your own processor that runs after this one that computes the package name etc.
What do you think @keirlawson ?

[2016-05-13 15:55] petebacondarwin commented on #141
Right.

[2016-05-13 15:55] petebacondarwin commented on #141
Duplicate of #126

[2016-05-13 15:55] #141 closed

[2016-05-13 15:57] petebacondarwin commented on #147
@csaftoiu can you just do the following?

[code]

[2016-05-13 15:58] petebacondarwin commented on #149
Can you provide a bit more detail about the problem?

[2016-05-23 13:42] gampleman commented on #108
Could this be re-opened since I believe this is an issue with current node v6.

[2016-05-23 14:42] petebacondarwin commented on #108
@gampleman I think it is better to create a new issue. Are you saying that the version of nunjucks in use is not compatible with node v6?

[2016-05-23 15:12] gampleman commented on #108
I'm still trying to insulate a test case, but I believe I might have commented too early and its probably fine. Sorry about the noise.

[2016-06-04 17:55] jugglingcats opened #182 "Unwanted warnings about path and output path - or mis-understanding"
We are building our own package around dgeni-packages. Our goal is to output json instead of rendered HTML. Our documentation delivery app provides navigation over a single json file for each module.

The process outputs two types of json file:
- index.json: lists the modules with high level name and description
- module.json: one per module, contains the full module contents -- all components

Ac

[2016-06-13 12:38] davidreher commented on #179
@petebacondarwin I will work on a PR

[2016-06-13 12:45] petebacondarwin commented on #179
We had a problem with similar to this in the angular.io project. The solution is to use

[code]

See https://github.com/angular/angular.io/pull/1440

[2016-06-17 20:21] caseyhoward opened #183 "Can't figure out to document angular with typescript"
I created a fork of a project that works for generating angular documentation. However, I need to be able to use typescript. I tried modifying it to make typescript work. It acts like it works (no errors in the console when building) but the documentation is blank. The repo is here: https://github.com/caseyhoward/angular-dgeni-seed

Help would greatly be appreciated.

[2016-06-18 10:47] wingedfox opened #184 "Missing 0.13 tag"
Please add a tag to commit of v0.13.

[2016-06-19 12:31] wingedfox opened #185 "extract-access depends on docType which is not available in jsdoc"
Hi,

There's a check
https://github.com/angular/dgeni-packages/blob/master/jsdoc/services/transforms/extract-access.js#L24
which fails with

[code]

Guess this is not a desired behaviour for ES* code.

[2016-06-20 09:17] wingedfox commented on #176
@petebacondarwin, I suppose 'hidePrivateMembers' should be a feature of the document renderer.

As by now I build docs for a mixed-source project and I dislike the idea of using such property on each processor.

[2016-06-20 09:23] petebacondarwin commented on #176
It's a bit more complicated than just rendering. For instance, what if someone created a `{@link somePrivateMember}`? If only the doc renderer ignores private members then this link would not be flagged up as invalid...

Perhaps we could have a simple processor that runs after the API docs have been read/created and removes those that are marked as private? This would have to run quite early in th

[2016-06-20 09:33] wingedfox commented on #176
Renderer should not 'ignore' private members, but follow the links as well.

It is a good idea to follow [jsdoc](http://usejsdoc.org/about-commandline.html) behaviour and allow to choose which parts are accessible after rendering.

[2016-06-20 14:03] schmod opened #186 "@module clashes with jsdoc3 tag of the same name"
jsdoc3 provides a [`@module` tag](http://usejsdoc.org/tags-module.html), which provides significantly different semantics than the `@module` tag that's a part of ngdoc.

Should we make an attempt to rename our version?  This seems like a major roadblock that hinders ngdoc-annotated code from working well with other tools (such as IDEs) that parse jsdoc syntax.

[2016-07-01 09:28] davidreher opened #188 "update dependencies"
According to [david-dm.org](https://david-dm.org/angular/dgeni-packages#info=dependencies&view=table) we do have some outdated npm dependencies:

- [ ] change-case
- [ ] espree
- [ ] glob
- [ ] lodash
- [ ] minimatch
- [ ] nunjucks
- [ ] q
- [ ] q-io
- [ ] semver
- [ ] shelljs
- [ ] winston

We should update them. This thread is to sum up the changes needed to do so.

@petebacondarwin how shall we

[2016-07-01 09:40] petebacondarwin commented on #188
Hi @davidreher
How about a single PR with a commit for each update?

[2016-07-01 13:18] #188 closed

[2016-07-07 15:58] chalin opened #192 "Support "import x as y""
[Line 17 of router-deprecated/src/lifecycle/lifecycle_annotations.ts](https://github.com/angular/angular/blob/2.0.0-rc.4/modules/%40angular/router-deprecated/src/lifecycle/lifecycle_annotations.ts#L17) is:

[code]

but when generating the API docs `CanActivateAnnotation` gets reported as an invalid:

[code]

This can be confirmed from the [corresponding API page](https://angular.io/docs/ts/latest/

[2016-07-08 11:11] petebacondarwin commented on #192
I believe that the actual problem here is that the type is not being exported publicly.
The following PR removes the problem: https://github.com/angular/angular/pull/9909

[2016-07-08 12:44] chalin commented on #192
I fixed a similar problem late yesterday (https://github.com/angular/angular/pull/9899), but it didn't occur to me that it might be a similar fix for this problem. Thanks for looking into it.

[2016-07-08 13:32] chalin commented on #192
Upon closer inspection, I don't believe that https://github.com/angular/angular/pull/9909 is a proper solution because `CanActivateAnnotation` is meant to remain private (it is only used as part of the initialization of the `var`).

[2016-07-08 14:15] petebacondarwin commented on #192
In which case we should not be linking to it then. Part of the reworking of decorator docs that needs to be done...

[2016-07-08 14:22] chalin commented on #192
https://github.com/angular/angular/pull/9912 is a simple refactoring workaround that can be used until the decorator doc processing is fixed.

[2016-07-25 04:04] clavecoder opened #193 "Multiple Issues. Don't support TypeScript 2?"
## Issue

I'm having multiple issues running dgeni against my TypeScript 2.0-beta project. Perhaps you don't support TS2 yet? I thought you used dgeni for Angular 2.
## Resources

To build this, do:
Copy the project

Install VirtualBox, Vagrant, and ChefDK, then
`npm install`
`npm run build`
`npm run docs`

## Errors

The following are a sample of the errors. Admittedly, some may be my own configu

[2016-07-25 14:51] Aashima89 opened #195 "Older version of nunjucks dependency in package.json"
Encountered issue with older version of minmatch dependency in dgeni-packages which is because of older version of nunjucks in package.json. Please update the nunjucks package version to latest 2.4.2

┬ dgeni-packages@0.14.0
│ ├── minimatch@3.0.2
│ ├─┬ nunjucks@1.3.4
│ │ └─┬ chokidar@0.12.6
│ │   └─┬ readdirp@1.3.0
│ │     └── minimatch@0.2.14   <older version>

[2016-07-28 16:01] domarmstrong opened #196 "Implementing a RAML processor"
There are no really good RAML doc generators currently. I'm wandering if it may be feasible to create a processor for dgeni utilising the existing RAML javascript parser. Benefits being, existing integrations and documentation for users.

Questions:
1. Does this seem like a good idea, or is dgeni in anyways more biased/not designed for this kind of documentation over actual annotated code?
2. Are

[2016-07-28 17:50] Aashima89 commented on #185
I got the same issue with @private tag

info:    running processor: extractTagsProcessor
error:   Error: Illegal use of "@private" tag.
You can only use this tag on the following docTypes: [ property, method ].
Register this docType with extractAccessTransform.addDocType("js") prior to use - doc (js)

Added mentioned workaround by @wingedfox  in my dgeni configuration file.

Should that be fixed a

[2016-07-29 15:14] iainreid820 opened #197 "Nunjucks JSON filter is unable to handle circular JSON structures"
I've recently found that the Nunjucks filter for JSON is unable to handle circular JSON structures. I have therefore had to patch this myself in my own projects.

Here is the error that I'm getting...

[code]

I'm very happy to provide my fix for this issue, if you are currently accepting pull requests?

[2016-08-04 20:39] Aashima89 commented on #195
Any updates on this one?

[2016-08-26 05:41] davidreher commented on #195
see pr #198

[2016-09-25 17:02] thisgeek commented on #181
I know of at least one claim (jonschlinkert/remarkable#193) that [markdown-it](https://github.com/markdown-it/markdown-it) violates [remarkable](https://github.com/jonschlinkert/remarkable)'s copyright. Maintainers: is that a factor in accepting @petebacondarwin's fix?

It also looks like [marked](https://github.com/chjj/marked) is showing signs of life again with the release of [0.3.6](https://gi

[2016-09-25 18:45] petebacondarwin commented on #181
All the projects marked remarkable and markdown-it are released under the MIT license so there is no copyright violation, as far as I can tell.

[2016-09-28 14:24] thisgeek commented on #181
I was thinking a similar thing at first. It's open source, right? Anyone can copy anything. MIT is a super liberal license. I now think I am wrong about that in one respect: you still must retain attribution.

I suspect the claim may be warranted by a missing copyright line for Jon in [markdown-it's LICENSE](https://github.com/markdown-it/markdown-it/blob/master/LICENSE), which violates the condit

[2016-10-03 07:44] petebacondarwin commented on #181
Thanks for the update here @thisgeek - I am looking into it.

[2016-11-10 10:07] gbbr commented on #74
@petebacondarwin @maksimr any luck putting this together by now? I am having a hard time figuring it out. We also have JSX files that we would like to use with dgeni.

[2016-11-10 10:23] petebacondarwin commented on #74
@gbbr I don't have time right now to work on this. But if you don't want to try to create a general PR that adds preprocessing, you could look into making your own custom file reader that is a copy of https://github.com/angular/dgeni-packages/blob/master/jsdoc/file-readers/jsdoc.js but with additional jsx parsing before it gets sent to the `jsParser` service.

[2016-11-10 10:32] gbbr commented on #74
Thanks! I'll make a PR if I manage to work it out...

[2016-11-14 19:39] dennybiasiolli opened #199 "prevent TS exports marked as "@internal" or "@private" to be exported in readTypeScriptModules()"
If we have something like this
[code]
`var y` and `var z` will be exported as results of readTypeScriptModules()

It will be useful because in ionic2 they are using this functionality in their custom typescript processor: [repo link](https://github.com/driftyco/ionic/blob/master/scripts/docs/typescript-package/processors/readTypeScriptModules.js#L74-L78)

[2016-11-14 20:50] petebacondarwin commented on #199
I think you want to use `@internal`?

On 14 November 2016 at 19:39, Denny Biasiolli <notifications@github.com>
wrote:

[2016-11-14 20:59] dennybiasiolli commented on #199
@petebacondarwin same problem with `@internal`, now I include this in PR

[2016-11-21 16:58] gbbr opened #201 "Peer dependency breaking extractJSDocCommentsProcessor"
When I install `grunt-eslint@19.0.0` as a peer dependency and run dgeni, I get:
[code]
With `grunt-eslint@^16.0.0`it runs fine.

Any ideas? This has been pretty hard to pin down...

[2016-11-25 21:02] wingedfox commented on #201
Hi,

It looks like you have to override `extractJSDocCommentsProcessor`
* copy `extractJSDocCommentsProcessor` to dgeni-alive/jsx package
* add `estraverse-fb` to your project
* register processor

This way your package will provide the updated dependency and the error should disappear.

[2016-11-28 11:38] gbbr commented on #201
Yes, that fixed it. Many thanks!

[2016-11-28 11:38] #201 closed

[2016-12-11 05:25] rodleviton opened #202 "TypeError: require is not a constructor"
I am getting the following error while running unit tests with Jest. The issue seems to lie with requiring and instantiating a new instance of `node-html-encoder` in one line e.g.

`var encoder = new require('node-html-encoder').Encoder();`

It seems like an easy fix that I can submit a PR for but I am not sure why I am getting this error as it seems like valid code.

__ENV__
node v6.9.1
npm v4.0.

[2016-12-11 14:38] petebacondarwin commented on #202
Not sure why it is failing for you as it works on my local version of node @ 6.9.1. But it is probably a case of operator precedence... perhaps you could try being more explicit:

[code]

[2016-12-11 21:11] rodleviton commented on #202
@petebacondarwin this looks to be the case. Thanks for taking a look. I have updated my PR to reflect your suggestion.

[2016-12-12 09:35] #202 closed

[2016-12-19 14:54] Delagen opened #204 "mkdirp missing as dependency from package.json"
mkdirp-promise resolve it as peerDependency and not installing it

[2016-12-19 19:23] petebacondarwin commented on #204
Can you clarify the problem here?

https://github.com/angular/dgeni-packages/blob/master/package.json#L49

[2016-12-21 13:07] mgol opened #205 "Remove the yarn engine check from package.json or relax it"
Some time ago npm has removed support for `"engineStrict": true` in package.json and what you put in engines in package.json is purely advisory. Unfortunately, yarn went in a opposite direction and actually _enforces_ the check unless you pass it the `--ignore-engines` flag. This means people with the latest stable yarn installed are unable to build `angular@` which depends on `dgeni-packages` unt

[2016-12-21 18:29] #205 closed

[2016-12-22 05:29] Delagen commented on #204
@petebacondarwin Yes. in addition to `mkdirp-promise` need to add `mkdirp` base dependency.
NPM 3 does not auto install peerDependencies so when install dgeni-packages only `mkdirp-promise` module installed. And total package not work due `module not found` error

[2016-12-23 10:50] petebacondarwin commented on #204
Right. Fixing...

[2016-12-23 10:51] #204 closed

[2017-02-08 10:42] klmdb opened #206 "npm run docs not working"
I can't get the dgeni-packages docs to work.

[code]

output:

[code]

If I then remove the @private tag in `base/processors/read-files.js`, I get the following output running `npm run docs`:

[code]

[2017-02-08 14:28] petebacondarwin commented on #206
Ah man! So the simplest workaround would be to remove the offending tags from the code base.
The next best thing will be to add these missing tags to the [dgeni](https://github.com/angular/dgeni-packages/tree/master/dgeni) package.

I will try to get round to cleaning all this up but not in the next two weeks.

[2017-03-02 17:24] roddolf opened #209 "Ignoring method overloads in TypeScript"
The `readTypeScriptModules`processor is ignoring all the overloads of a method and only taking in count only the first `declaration`.

Is there a workaround for this error?

[2017-03-02 20:43] petebacondarwin commented on #209
There might be a workaround See this line of code https://github.com/angular/dgeni-packages/blob/master/typescript/processors/readTypeScriptModules.js#L170

The `additionalDeclarations` are added to the `exportDoc` so you might be able to get hold of the information you need there?

[2017-03-03 16:23] roddolf commented on #209
No, the property is not set in a class or interface member.
It looks like it is only added for a direct child of a module.

[2017-03-06 21:34] petebacondarwin commented on #209
Hmm. I don't have time to work on this for a couple of weeks. If you want to have a crack at fixing it I will happily review.

[2017-03-07 00:22] chalin opened #210 "Error: Missing dependency: "readTypeScriptModules" on "linkInheritedDocs""
@petebacondarwin I can't built the Angular docs `cheatsheet.json` for Dart anymore with 0.16.9; I get the following error:
[code]
Using 0.16.8 works fine.

cc @kwalrath

[2017-03-07 06:36] petebacondarwin commented on #210
I have reverted the breaking commit and released 0.16.10 for now.
I will work out what the problem is and release the feature as 0.17.0, partly because I am due to upgrade to a later version of TypeScript for the parsing in any case, which could also cause breaking changes.

[2017-03-20 13:32] tommck commented on #183
I can't figure it out either.  I really wish there was an official typescript example.  I've been struggling with this on and off for weeks

[2017-04-11 17:09] pselden opened #215 "[Question] Typescript and ngdoc w/ angular 1?"
I've started to mix in typescript to my angular 1 library and I'm having trouble getting ngdoc files written in typescript to show up in my documentation.

[code]

When I run this with dgeni with typescript processor configured like:
[code]

I get the following:

[code]

The description of oxModalsService shows up but the individual methods do not.

I'm using the following in my packages:

[code]

[2017-04-18 21:20] beagins opened #218 "TypeError: dgeni-packages/git"
Added `require('dgeni-packages/git')` to my Dgeni Package and corresponding gulp task as described in example and on run `gulp dgeni` from my project directory I get `TypeError: Cannot read property '1' of null`. Dgeni docs build successfully when I comment out `require('dgeni-packages/git')`.

[code]

[2017-05-11 19:00] cipchk opened #220 "Why generated HTML escape characters by marked?"
[code]

result:

[code]

[2017-05-12 03:46] cipchk commented on #220
sorry,my mistake.i set it up:

[code]

[2017-05-12 03:46] #220 closed

[2017-05-18 16:33] dalelotts opened #221 "Error parsing the jsdoc type expression "{number| {function(row?:any,index?:number): number}}""
I'm trying to document a property that returns a number or a function - this seems to work with pure jsdocs but not here

`* @type {number|function(row?:any,index?:number): number}`

The property is defined as follows.
`@Input() rowHeight: (number | ((row?: any, index?: number) => number)) = 0;`

Any suggestions on how we can work around this?

[2017-05-19 07:18] petebacondarwin commented on #221
@dalelotts - can you give me a bit more information. Is it the `@type` tag that is not working? What is being output?

[2017-05-19 07:21] petebacondarwin commented on #221
The library we use to parse the types is https://github.com/hegemonic/catharsis
Perhaps this doesn't support this notation?

[2017-05-19 18:28] dalelotts commented on #221
Call stack here:

`Error: Error parsing the jsdoc type expression "{number|function(row?:any,index?:number): number}"
    at /Users/dale.lotts/dev/vdl-angular/node_modules/dgeni-packages/jsdoc/services/transforms/extract-type.js:56:15
    at /Users/dale.lotts/dev/vdl-angular/node_modules/dgeni-packages/jsdoc/processors/extract-tags.js:166:19
    at arrayEach (/Users/dale.lotts/dev/vdl-angular/node

[2017-05-20 10:36] petebacondarwin commented on #221
OK, I'll take a look...

[2017-05-20 10:47] petebacondarwin commented on #221
Right! I can reproduce this in a unit test. It look like catharsis does not like this syntax...

[2017-05-20 11:05] petebacondarwin commented on #221
@dalelotts - it seems that you are using an invalid syntax. The correct syntax should not include the parameter names. For example the following test passes in dgeni-packages:

[code]

[2017-05-20 11:05] petebacondarwin commented on #221
See https://github.com/google/closure-compiler/wiki/Annotating-JavaScript-for-the-Closure-Compiler#optional-argument-in-a-function-type for more information.

[2017-06-03 19:50] mikejpeters opened #222 "readTypeScriptModules strips spread operator (...) from types"
Given interface:

[code]

The `readTypesriptModules` processor incorrectly gets the `returnType` for *myFunc* as `: Array<any>): void` instead of `(...args: Array<any>): void`.

The logic at [readTypeScriptModules.js](https://github.com/angular/dgeni-packages/blob/0e41fae73d6151f5cfe48113a00e96b5d5ada4f4/typescript/processors/readTypeScriptModules.js#L445-L455) removes namespaces from the front of

[2017-06-04 12:31] petebacondarwin commented on #222
Let's fix this. I am not even sure if the original "ignoring" code is relevant any more.

[2017-06-04 13:53] petebacondarwin commented on #222
@mikejpeters this seems to be working fine for me. I have added tests to prove it here: https://github.com/angular/dgeni-packages/commit/81f4d07f84de205511ef2935bdca8ce61a74d524

[2017-06-04 15:44] mikejpeters commented on #222
I'm really sorry, I described the issue wrong.  The real issue is parsing code like this:

[code]

So not a method, but a property with a function type.

[2017-06-04 16:43] petebacondarwin commented on #222
Oh, I see that you did indeed have such a property in your first description. I should have cut and pasted that one :-)

[2017-06-04 20:37] petebacondarwin commented on #222
@mikejpeters - I think this should fix your problem: https://github.com/angular/dgeni-packages/pull/223

[2017-06-05 22:34] mikejpeters commented on #222
Thanks! I tested with my project and it your fix did resolve the issue

[2017-06-05 22:38] mikejpeters commented on #222
Whoops didn't mean to close the issue, I guess you prefer to do that once you merge the fix

[2017-06-07 17:55] #222 closed

[2017-06-12 08:55] WoMayr commented on #209
any updates on this topic?

[2017-06-12 10:53] WoMayr opened #224 "Nunjucks: Allow adding custom loaders"
I am currently missing an option to add custom loaders to the nunjucks templating engine.

In my opinion this would be easy to fix by adding loaders similar to filters to `nunjucks-template-engine.js`

[2017-06-12 10:58] petebacondarwin commented on #224
A simple workaround would be to provide your own implementation of `templateEngine` which adds these loaders.
But happy to accept a PR that updates the standard one with an option to add loaders.

[2017-06-12 11:00] petebacondarwin commented on #209
I am working on it...

[2017-06-12 11:24] WoMayr commented on #224
I sent you a pull request

[2017-06-20 09:37] #179 closed

[2017-06-20 21:26] dherges opened #226 "jsdoc: @tag strips doc.description, keeps doc.content"
I have a file with a [@tag at the beginning of the file](https://github.com/dherges/dgeni-playground/blob/master/src/content/test.md).

The [tag def for @tag](https://github.com/dherges/dgeni-playground/blob/master/tools/dgeni/docs/tag-defs/title.js) is straight forward.

Now, after running processors of jsdoc packages (parse-tags, extract-tags) `doc.content` still has the original, unmodified tag

[2017-06-21 15:41] dherges opened #227 "jsdoc: duplicated code in `inline-tags.js`"
Is the code in [https://github.com/angular/dgeni-packages/blob/master/jsdoc/processors/inline-tags.js](inline-tags.js) duplicated?

This is [1-135](https://github.com/angular/dgeni-packages/blob/master/jsdoc/processors/inline-tags.js#L1-L135), then [137-260](https://github.com/angular/dgeni-packages/blob/master/jsdoc/processors/inline-tags.js#L1-L135)

[2017-06-22 22:02] dherges commented on #226
Now, what is also strange, when using the `@title` as demonstrated in the previous post. The `doc` loooks like:

[code]

So the `title` property has the whole content of the markdown file. I supposed it should only be "foobar!".

It looks like – to me – in the extract-tags.js, [tag is parsed](https://github.com/angular/dgeni-packages/blob/master/jsdoc/processors/parse-tags.js#L93), then the [`line

[2017-06-23 12:03] petebacondarwin commented on #226
Remember that jsdoc tags are not single line. We capture all the following text until the next tag. So this is working as expected. If you want to have description following the title tag then you would do:

[code]

[2017-06-29 11:45] petebacondarwin commented on #199
See https://github.com/angular/dgeni-packages/pull/200#issuecomment-311942511

[2017-06-29 11:45] #199 closed

[2017-06-29 21:06] #227 closed

[2017-07-02 14:04] haschu opened #229 "typescript-package: Expected decorator to be a call expression"
Hi,

I currently discover the limitation, that decorators must be call expressions in order to get parsed correctly.
So for example the property decorator `@Test()` will work, but `@Test` will throw the error:
[code]

Could anybody explain why there is a call expression check in [getDecorators.ts](https://github.com/angular/dgeni-packages/blob/89a47d4b2311fea5177c465871cf0499b0da17b8/typescript/sr

[2017-07-02 14:37] haschu commented on #229
For me it seems legit to just drop the `argumentInfo` and `arguments` properties in case a decorator isn't a call expression.

E.g.:
[code]

[2017-07-03 07:10] petebacondarwin commented on #229
That sounds OK, please do submit a PR, keep it backward compatible.
This issue reminds me that I must add a test spec for `getDecorators`!!

[2017-07-04 10:27] haschu opened #230 "typescript-package: multiple TypeScript compile errors"
Running `npm install` or `tsc` in the typescript/ directory throws TypeScript errors.

Here is my output:
[code]

tsc version: 2.3.4

Edit:

Setting `strict: false`  in typescript/tsconfig.ts would suppress most errors, except:
[code]

[2017-07-04 11:25] haschu commented on #230
Ok, most type errors occur because there are no `undefined` checks for `this.symbol.getDeclarations()`.

E.g. (ClassExportDoc.ts):
[code]
needs to be refactored to
[code]

Since this would lead to a lot of DRY code, I would suggest to implement a `getDeclarations(symbol)` (maybe in services/TsParser/getDeclaration.ts ?) method which does the `undefined` check and then returns an empty array instea

[2017-07-04 11:32] petebacondarwin commented on #230
Good work @haschu - I don't know why I didn't catch this as I am also running with null checks on.
If you can provide a PR then that would be great!

[2017-07-06 09:03] petebacondarwin commented on #230
Hold on a moment!!
The project is now using `yarn` not `npm` for dependency management.
The problem is that `npm install` is installing the wrong version of TypeScript (2.4.1). You can see this by running `npm ls typescript` after `npm install`.
If you use `yarn install` then `yarn list typescript` you get 2.4.3

[2017-07-06 09:03] #230 closed

[2017-07-06 09:30] haschu commented on #230
Great! Seems like `Symbol.getDeclarations()` nur returns `Declaration[]` instead of `Declaration[] | undefined` in 2.4.3.

Oh man... at least it was just copy & paste changes.

[2017-07-07 14:51] haschu commented on #229
Since there isn't a spec for `getDecorators`, I would submit the spec (also including tests for this issue) in a separate PR. OK?

[2017-07-10 10:18] #229 closed

[2017-07-10 10:24] #226 closed

[2017-07-10 10:24] petebacondarwin commented on #209
This should be fixed in 0.20.0

[2017-07-10 10:24] #209 closed

[2017-07-10 10:25] petebacondarwin commented on #197
I upgraded to nunjucks v3 (in dgeni-packages 0.20.0) - can you check if this is still an issue?

[2017-07-10 10:26] petebacondarwin commented on #195
Nunjucks is now on v3

[2017-07-10 10:26] #195 closed

[2017-07-10 10:28] #184 closed

[2017-07-10 10:31] petebacondarwin commented on #181
In the [anguar.io](https://github.com/angular/angular/tree/master/aio/tools/transforms) project we used [`remark`](https://github.com/wooorm/remark) instead. See https://github.com/angular/angular/tree/master/aio/tools/transforms/remark-package

[2017-07-10 10:31] #181 closed

[2017-07-10 10:32] petebacondarwin commented on #175
This file has been redeveloped in TypeScript. So the syntax errors should be gone.

[2017-07-10 10:32] #175 closed

[2017-07-24 09:35] deemstone commented on #206
+1      and  I had removed that "offending tags" , and retry, but got another Error:

Error: Failed to find package for codeNameService - doc "codeNameService" (dgProcessor)  - from file "jsdoc/services/code-name.js" - starting at line 1, ending at line 4

[2017-07-31 16:23] roddolf opened #239 "Incomplete typeParams in TypeScript"
With the TypeScript package the documents have a property called `typeParams` this contains
the generic data of the element, but its currently incomplete in the following case:

Having a class like:
[code]

The value of `typeParams` would be only `<T>` leaving the `extends Anything` aside.

[2017-07-31 16:28] roddolf opened #240 "Incomplete generic types in TypeScript"
With the TypeScript package the documents have a property called `typeParams` this contains
the generic data of the element, but its currently incomplete in the following case:

Having a class like:
[code]

The value of `typeParams` would be only `<T>` leaving the `extends Anything` aside.

[2017-07-31 16:34] roddolf commented on #239
Sorry, duplicated due to GitHub problems

[2017-07-31 16:34] #239 closed

[2017-08-01 21:44] alekhrycaiko opened #241 "TypeScript basePath behaviour has changed."
When setting your typescript's basePath to 'src' in v0.19.0 (like below), a successful dgeni run could be made; yet this fails in v0.20.0
[code]
My logs show that using this syntax, the node_modules/src folder will be searched during a dgeni run; which is not correct.
I'm suspicious as to whether this behaviour is intended; and if it is would it be possible to add documentation for this?
I found t

[2017-08-02 21:20] roddolf opened #242 "Overloads for constructors"
The `constructorDoc` of a class is returning only the first declaration not the `base` like the methods and does not have its overloads.

[2017-08-16 15:12] #206 closed

[2017-09-05 10:46] petebacondarwin commented on #242
Landed in 0.21.1

[2017-09-05 10:46] #242 closed

[2017-09-05 10:51] petebacondarwin commented on #241
Sorry not to reply sooner. I am glad you got it to work. I am not sure whether there was an explicit breaking change that caused your errors. Perhaps it was related to https://github.com/angular/dgeni-packages/commit/b7b11164?

Closing, as there appears to be a workaround and I am pretty confident that the current behaviour is what is wanted.

[2017-09-05 10:51] #241 closed

[2017-09-05 10:59] petebacondarwin commented on #240
@roddolf can you test with the latest dgeni-packages? I think this has been fixed...

[2017-09-05 11:00] petebacondarwin commented on #210
@chalin is this working for you now?

[2017-09-05 11:01] #210 closed

[2017-09-05 11:01] #197 closed

[2017-09-05 11:01] petebacondarwin commented on #197
Closing through lack of response.

[2017-09-05 11:02] petebacondarwin commented on #193
TypeScript 2 is supported now.

[2017-09-05 11:02] #193 closed

[2017-09-05 11:03] petebacondarwin commented on #192
Is this still a problem @chalin ?

[2017-09-06 18:39] chalin commented on #192
No, thanks.

[2017-09-06 18:39] #192 closed

[2017-09-07 07:23] pete-otaqui commented on #230
I'm getting similar errors on master (as of 3c480e4e639df89b2b2a60c63060e1532eeb3beb).  I've installed with `yarn` and the output of `yarn list typescript` is:

[code]

The exact errors are:

[code]

[2017-09-07 07:34] haschu commented on #230
@pete-otaqui I think you're in the wrong repo. This belongs to [angular/angular](https://github.com/angular/angular).

[2017-09-07 07:34] petebacondarwin commented on #230
@pete-otaqui - I am not sure what project you are building there. Angular?

[2017-09-07 07:35] pete-otaqui commented on #230
Whoops, yes of course.

[2017-09-07 08:49] gkalpak commented on #230
BTW, yarn@0.27.5 (anything >=0.25.4 iirc) has a bug that may install wrong versions of dependencies in `node_modules/.bin/`. The bug will be fixed in 0.28.x, but it is safer to use an earlier version for now.
(In angular/angular we use 0.24.6.)

[2017-09-27 13:27] dherges opened #245 "Dgeni package "ngx" for next generation Angular documentation on top of Minko's ngast"
#### Idea

See https://github.com/dherges/dgeni-ngx/issues/2

[2017-10-04 14:07] DevVersion opened #246 "Types of accessors are not resolved propery"
Hey there,

With the recent changes to more object orientated documents, the types for accessors are no longer resolved properly.

[code]

Also those getters and setters are being treated as functions, while they theoretically can be considered as properties of the class.

This means that right now we need to manually determine the types of the accessors in our Dgeni package.

**The issue here** i

[2017-10-04 14:22] petebacondarwin commented on #246
Can you not use the `isGetAccessor` and `isSetAccessor` on the docs? See https://github.com/angular/dgeni-packages/blob/master/typescript/src/api-doc-types/MemberDoc.ts

[2017-10-04 14:25] DevVersion commented on #246
Good point, I saw those two properties on the `MemberDoc` class. The problem I had, was that I only got one document for the getter and setter.

This document then just had both `isGetAccessor` and `isSetAccessor` set to `true`, and didn't have a type specified either.

[2017-10-04 16:06] petebacondarwin commented on #246
Good spot, it is a bit buggy. Let me come up with a fix.

[2017-10-05 13:20] petebacondarwin commented on #246
I have created a PR which should solve this problem... #247

[2017-10-06 16:06] DevVersion commented on #246
@petebacondarwin Thanks! I will try to give it a shot this today/tomorrow. Will keep you updated.

[2017-10-08 18:19] #246 closed

[2017-12-03 12:48] DevVersion opened #248 "TypeScript: Aliased exports should include aliased name"
Let's consider this example:

[code]

This is a common pattern inside of Angular Material, but causes Dgeni to generate documents for both exports.

The second document is identical to the original Dgeni document and doesn't even show the aliased name. It would be useful to have a property that indicates that the given doc is an alias and maybe also refer to the original document.

This issue is m

[2017-12-06 14:54] petebacondarwin commented on #248
Yes, we need to fix this. I will try to spend some time on it later this week (or early next week).

[2017-12-22 18:01] roddolf commented on #240
Sorry I really forgot about this.

For classes and interfaces the `typeParams` is still the same. But this property is helpful as it is.

So, I just added a property `typeParameters`, as methods and functions have, which contains the complete description of the generics.

[2018-01-04 17:07] stofolus opened #250 "Warnings when using import"
I'm getting warnings when the jsdoc name processor encounters an es2015 import statement. Is this supposed to throw a warning?

If not I could add a new matcher for it but I'd like some help with how it should be handled

[2018-01-04 18:46] petebacondarwin commented on #250
I guess that we should be ignoring imports?

[2018-01-04 18:54] stofolus commented on #250
Is ignoring done by return `null` from the matcher?

[2018-01-04 19:19] petebacondarwin commented on #250
@wingedfox ??

[2018-01-04 20:18] wingedfox commented on #250
Afais there's no matcher for `import` so it is OK to see a warning there. I don't know details of import node in AST but there should be a left subtree with the local names for imports and right subtree with the module name.
The question with import is in case of multiple imports where we've to decide which name to take.
Perhaps matching left subtree is sufficient to find a name.
Take a look at ht

[2018-01-04 20:21] wingedfox commented on #250
I'm not sure whether it is OK to ignore import names because later export may expose it to the consumer.

You're right.

[2018-01-04 22:18] Splaktar commented on #181
@petebacondarwin what was the outcome of this? It looks like `marked` is still in use (https://github.com/angular/dgeni-packages/blob/master/package.json#L50). We're seeing it listed as a vulnerability in the angular/material project atm.

[2018-01-04 22:25] Splaktar commented on #181
This has also been reported on the `marked` repository (which seems to actually have put out a few releases in December 2017): https://github.com/chjj/marked/issues/997

[2018-01-04 23:02] frederikprijck commented on #181
Wouldn't it be sufficient to update marked to `0.3.9` or am I misunderstanding the message being reported by github?

0.3.9 mentions:

[2018-01-05 06:48] Splaktar commented on #181
Looks like the fix works with the current rule (https://github.com/angular/dgeni-packages/blob/master/package.json#L50). Just need to remove marked from `node_modules/` and remove `package-lock.json` and then reinstall and you are good to go.

[2018-01-06 22:01] petebacondarwin commented on #250
Still not convinced it makes sense to capture the name of imports... but I guess it does no harm.

[2018-01-06 22:04] stofolus commented on #250
I can change it to return null instead if thats preferred?

[2018-01-06 22:05] petebacondarwin commented on #250
No, I just think it will not be useful.

[2018-01-17 08:58] petebacondarwin commented on #250
@wingedfox - if an export exposes an import then we would get the name from the export not the import, right?

[2018-01-17 18:33] petebacondarwin commented on #248
See #253

[2018-01-17 18:33] petebacondarwin commented on #248
See #253

[2018-01-17 21:27] #248 closed

[2018-01-18 08:33] #245 closed

[2018-01-19 11:26] dherges opened #254 "[typescript] idTemplate and pathTemplate still use `classDoc` property"
The `idTemplate` and `pathTemplate` in the typescript package still reference the `classDoc` property.

[code]

https://github.com/angular/dgeni-packages/blob/master/typescript/src/index.ts#L57

[code]

https://github.com/angular/dgeni-packages/blob/master/typescript/src/api-doc-types/MemberDoc.ts#L44

This causes the lodash template to trigger a ReferenceError:

[code]

Should the template be cha

[2018-01-19 11:44] petebacondarwin commented on #254
Thanks for spotting this @dherges - it wasn't causing problems in angular.io because we [filter such docs](https://github.com/angular/angular/blob/master/aio/tools/transforms/angular-api-package/processors/filterContainedDocs.js) before the path and id processor runs.

Do you want to put together a PR?

[2018-01-19 12:29] dherges commented on #254
Hi @petebacondarwin,

yes, the PR is about to come :smile:

I can also confirm that by overriding the templates the error goes away. So it's just these defaults.

Also, a big thanks for all the time and effort! In particular, the typescript packages, the TsParser and re-writing it in TypeScript! The big bunch of features on top of the typescript APIs is fantastic! :bowing_man: :church:

[2018-01-19 13:58] #254 closed

[2018-01-25 17:34] chriscasola commented on #183
I got it working by adding a factory like this:

[code]

And then adding the file reader:

[code]

[2018-01-25 17:34] chriscasola commented on #215
I got it working by adding a factory like this:

[code]

And then adding the file reader:

[code]

[2018-01-31 18:46] #250 closed

[2018-02-09 10:52] jorgemv opened #259 "unnecesary space in filter.template.html"
That's not exactly an issue:

There is an unnecesary space in the filter.template.html file. As result, the documentation generated contains that space too at the beginning of the interpolation but not as well at the end.

The first screenshot shows the extra space on the code and the second one shows it on the generated page.

Regards,

![image](https://user-images.githubusercontent.com/17720170/

[2018-02-20 12:17] DevVersion opened #261 "ParameterDoc is extending ExportDoc"
For some reason the `ParameterDoc` is always extending from the `ExportDoc` class. This makes `instanceof ExportDoc` checks wrong, because technically a parameter is not always exported.

[2018-02-20 12:35] petebacondarwin commented on #261
Ouch! I think it should just implement the ApiDoc interface.

[2018-02-24 10:28] petebacondarwin commented on #259
Thanks for noting this. Do you have time to submit a PR?

[2018-02-24 11:26] #261 closed

[2018-02-24 11:39] petebacondarwin commented on #196
@domarmstrong - sorry I never replied to this.

It looks like RAML is just a subset of YAML. So you would need to implement a YAML fileReader that parses out comments (and perhaps the structure of the data itself) into dgeni docs. Then the `jsdoc` package could do its work to extract additional info from any JsDoc tags found in the comments. After that you are back in standard dgeni land.

Is this

[2018-02-24 11:43] petebacondarwin commented on #186
As a workaround it would be fairly straightforward to find and remove the `module` tag definition as defined in the `dgeni-packages/ngdoc` package and replace it with your own implementation.

At this stage in the life of AngularJS, I don't feel there is much value in making a breaking change for projects using the `ngdoc` package by changing the name of this tag.

[2018-02-24 11:43] #186 closed

[2018-02-24 18:01] domarmstrong commented on #196
No it's not, thanks. I was just exploring options at the time. I ended up writing a custom single page app that consumed RAML served by the APIs directly. This gave a real snapshot of the current state of the API without having to rebuild documentation.
Since then we've moved to graphql anyway which has removed the need for RAML it has its own schema and tooling.

[2018-02-24 18:01] #196 closed

[2018-04-18 03:53] dpogue opened #265 "Unresolved TypeScript symbols"
This is admittedly a particularly bizzarre example of TypeScript syntax, but it's our current workaround for some TypeScript limitations with subclassing ES6 built-ins.

[code]

When running through dgeni, this results in an unresolved TypeScript symbol:
[code]

The syntax for the generic type on the promise is super weird, but [is correct](https://github.com/Microsoft/TypeScript/issues/21710) (an

[2018-06-14 08:00] martinsik opened #267 "Naming inconsistency for inlineTagProcessor"
I've noticed that [`README.md` mentions among "Processors"](https://github.com/angular/dgeni-packages#processors-1) `inlineTagsProcessor` but this doesn't exist.

Correct name is `inlineTagProcessor` so it's the only one without plural "tags" in its name even though its filename is [`inline-tags.js`](https://github.com/angular/dgeni-packages/blob/master/jsdoc/processors/inline-tags.js).

So `READM

[2018-10-05 20:59] DevVersion opened #276 "typescript: possibility to specify type format flags"
In some API doc type classes, the TypeScript package just uses the plain `typeToString` method. By default this method truncates long types and therefore causes unexpected results.

We should allow users to overwrite the `typeToString` logic using the recently introduced `Host` class. Probably in the future it might be worth passing `NoTruncation` by default.

https://github.com/angular/dgeni-pack

[2018-10-23 16:01] DevVersion commented on #276
Closed with #13457

[2018-10-23 16:01] #276 closed

[2019-04-11 06:08] MaksPob opened #280 "vulnerable package marked"
You have old version vulnerable package marked
https://app.snyk.io/vuln/SNYK-JS-MARKED-174116
Upgrade package to 0.6.2

[2019-06-25 16:14] BrunnerLivio opened #282 "Add postProcessHtml package from angular.io"
It would be useful if the `postProcessHtml` functionality from the [angular/angular](https://github.com/angular/angular/tree/master/aio/tools/transforms/post-process-package) repository would be its standalone thing. Mainly because I would love to reuse this functionality for [nestjs/docs.nestjs.com](https://github.com/nestjs/docs.nestjs.com) and I think others would appreciate it too.

I am not q

[2019-06-25 16:20] petebacondarwin commented on #282
It would go in here. Feel free to submit a PR. But be aware, that as soon as we move stuff in here the bar for reusability goes up. So it might not be enough to simply copy it over.

[2019-06-25 16:25] BrunnerLivio commented on #282
@petebacondarwin
Yup, will look out for that. One question before I start with the contribution; should the PR be written in TypeScript or JavaScript? The repository has mixed languages and I am not sure whether it is due to historical reasons, or just because of the `typescript` package.

[2019-06-25 20:39] petebacondarwin commented on #282
Happy to accept TypeScript. The original dgeni was pre-TypwScript.

[2019-06-26 16:10] BrunnerLivio commented on #282
@petebacondarwin done!

[2019-07-01 14:11] #282 closed

[2019-07-12 15:10] #280 closed

[2019-12-03 22:44] inakijaneiro opened #285 "Link tag not linking methods"
When using the link tag to link a method with the following syntax, a dangling link occurs.

    {@link MyClass.method}

This creates an absolute link which may not exist

I found a workaround using the following syntax

    {@link MyClass#method `MyClass.method`}

This generates the correct relative link, and renders the link as `MyClass.method`. Is this the expected behaviour?

[2019-12-04 07:59] petebacondarwin commented on #285
Yes this is working as designed. Your solution is the correct approach.

[2019-12-04 07:59] #285 closed

[2020-01-29 11:15] dherges opened #287 "No files are written: mkdir@1.0.0 broke mkdir-promise as such writeFile processor broke"
mkdirp@1.0.0 changed implementation from callback to promisified api
 * changelog: https://github.com/isaacs/node-mkdirp/blob/master/CHANGELOG.md#10
 * change: https://github.com/isaacs/node-mkdirp/commit/ed0ae94cf6c02380f4b3b45df39abcf74c62f956#diff-168726dbe96b3ce427e7fedce31bb0bc

---

mkdir-promise has `"mkdirp": "*"` dependency: https://github.com/ahmadnassri/mkdirp-promise/blob/master/packag

[2020-01-29 11:20] dherges commented on #287
Thoughts...just thoughs...

1. Please take this issue to twitter 🤣
2. Ideally, mkdir-promise should `mkdirp instanceof Promise ? mkdir : promisify(mkdirp)`... 🤔
3. Maybe it's worth to write the few lines of code extra for a Promise that's actually a Promise 🐆

[2020-01-29 11:27] petebacondarwin commented on #287
How about we just update dgeni-packages to using `mkdirp@1.0` and stop using `mkdirp-promise`? Since, AFAICT, the new version already returns a promise, right?

[2020-02-09 16:02] dherges commented on #287
Sounds good to me!

[2020-02-12 12:07] petebacondarwin commented on #287
I just got hit by this when updating AIO 🙀
So I better get on and fix it!

[2020-02-12 12:24] #287 closed

[2020-02-12 12:42] petebacondarwin commented on #287
Thanks for raising this @dherges - it must have been quite a pain to debug what was going on!

[2020-02-24 11:13] dherges commented on #287
you're welcome!

I had this thought to modify the dgeni code to work with different versions of the dependencies, and that would have required several "if/else" checks...

Just updating the dependencies (`mkdirp >= 1.0.0`) sounds very good to me!

[2020-04-29 09:50] christophercr opened #289 "git decorateVersion: specific logic only for AngularJS causes doc generation to fail"
The [`decorateVersion`](https://github.com/angular/dgeni-packages/blob/v0.28.3/git/services/decorateVersion.js) service of the `git` package contains very specific logic related to very old versions of AngularJS.

This means that in case you use `dgeni-packages` to generate your project documentation and your current version is by the chance the same version that the `decorateVersion` targets... t

[2020-04-29 10:22] petebacondarwin commented on #289
I'm sorry about this @christophercr. I am pleased to hear that people are still using dgeni!
The workaround is fairly straightforward: since `decorateVersion` is a dgeni service, you can just provide your own version of it in your own dgeni-package. This will override the one provided by the `git` package, as long as you provide your service in a package that depends upon the `git` package.

We sh

[2020-09-13 12:00] viztastic commented on #218
Same issue here

[2020-11-18 11:06] sir-ion opened #293 "Custom options for jsParser service in jsdoc"
During document generation I need to parse javascript files the uses the `async/await` keywords.
According to [this issue](https://github.com/eslint/espree/issues/322) from espree repository the value of the option `ecmaVersion` passed to the parser must be `8` or greater to support those keywords, however I don't know how to pass this option to the parser used [here](https://github.com/angular/dg

[2020-11-18 11:34] petebacondarwin commented on #293
Instead of configuring the parser you can simply provide your own `jsParser` service that does what you want it to do.
Create the service in your own dgeni package and depend upon that after depending upon the `jsdoc` package. Then your version will override the version provided by the `jsdoc` package.

[2020-11-18 15:54] sir-ion commented on #293
Hi,
thank you for your super fast reply, really appreciated! Unfortunately I'm still not able to make my code work (I think I'm breaking something while overriding the default `jsParser()` service). Here is my code (I'm using dgeni from typescript, hope it's not a problem):

[code]

In the main file I set the config options and then I run dgeni:

[code]

Executing the above code gives me:

[code]

[2020-11-18 17:08] petebacondarwin commented on #293
Strange! I've no idea. Can you try debugging into that service? First of all to see if it is being triggered and secondly to see how (and whether) the output is being used.
Did you upgrade to a new version of `espree`? I wonder if the return value from the function call has changed?

[2020-11-19 08:34] sir-ion commented on #293
Yes, you are right! I was using ` "espree": "^7.3.0"` for my custom implementation of `jsParser()`. The return value of `espree.parse(...)` is somehow different from the one of `"espree": "^2.2.3"` shipped with `"dgeni": "^0.4.12"`.
Downgrading espree made my custom implementation work!

I'll play a little more with my dgeni project and then I'll close this issue if everything works.

Thanks a lot

[2020-11-19 08:56] petebacondarwin commented on #293
Great! It may be that you could change your `jsParser` implementation to understand the new return value from the latest version of espree too?

[2020-11-19 13:46] sir-ion commented on #293
Quick update: using espree 2.2.3 my custom jsParser works fine, but is not able to parse "recent" keywords like `async/await` (and it is reasonable since that espree version is likely to be older than the introduction of `async/await` as javascript keyword).
On the other hand espree 7.3.0 breaks something inside dgeni (or some dgeni package) and no output is produced.

Here is a [diff](https://gis

[2020-11-19 14:14] petebacondarwin commented on #293
That would be grand! Thanks @sir-ion

[2020-11-19 14:16] petebacondarwin commented on #293
From your diff, it looks like none of the comment nods are being returned in the result from espree. Clearly this is essential for the jsdoc package to work. I wonder if there is some additional config option that is needed?

[2020-11-19 14:17] petebacondarwin commented on #293
Are you setting `comment: true,` in the options passed to `espree.parse()`?

[2020-11-19 14:20] petebacondarwin commented on #293
I notice that in dgen-packages `jsParser` we are passing `comments:true` rather than `comment: true`: https://github.com/angular/dgeni-packages/blob/master/jsdoc/services/jsParser.js#L14

[2020-11-19 14:23] sir-ion commented on #293
I think it's some kind of typo. [Here](https://github.com/angular/dgeni-packages/blob/5106b8e624edf638ea99ad4a2f2ddb903b37d4a3/jsdoc/services/jsParser.js#L14) you use `comments` instead of `comment` as in the official espree documentation.

Now my custom parser works with espree 7.3.0!

[2020-11-19 14:24] petebacondarwin commented on #293
🎉

[2020-11-19 14:27] sir-ion commented on #293
Well, this settle the issue!
Sooner or later (if I do not find other issues using 7.3.0) I'll send a PR to update the espree version and fix `comment` (if you don't do it before I do).

[2020-11-19 14:27] #293 closed

[2020-11-19 14:30] petebacondarwin commented on #293
Thanks, that would be great!

[2021-01-13 08:14] sir-ion opened #297 "Test from the typescript package fails"
Running tests from the current master branch (5106b8e624edf638ea99ad4a2f2ddb903b37d4a3) I get the following failure:

[code]

Looking at the source code it's not obvious to me why this specific test fails, maybe someone else can fix it quickly.

[2021-01-13 08:38] sir-ion opened #298 "Feature proposal: enhance tagDefs"
As emerged during the discussion of PR #295 some jsdoc tags (like `@module`, `@typedef` and  `@callback`) should not be attatched to specific code nodes but rather they should provide information to other parts of the code documentation.

In broad terms a possible approach could be to extend the tagDefs with something like

[code]

Where `globalTransforms` is an array of services (similar to the a

[2021-01-13 09:48] petebacondarwin commented on #297
Yeah, I just started to see that when I was rebasing https://github.com/angular/dgeni-packages/pull/295. I think you may have stale `node_modules`?

[2021-01-13 10:01] petebacondarwin commented on #297
Also note that dgeni-packages uses `yarn` not `npm` for development.

[2021-01-13 12:05] sir-ion commented on #297
The `node_modules` folder was the culpable, thank you.

[2021-01-13 12:05] #297 closed

[2021-03-10 19:56] sahilbabbar opened #303 "index.d.ts file empty"
Recently updated my Angular library project to Angular `v11.2.2` and also updated Dgeni and Dgeni Packages. Now the following error pops-up on the mentioned line of code:

[code]

**Error**
[code]

Perhaps this error pops up because `dgeni-packages/typescript/index.d.ts` has just one line:
[code]

Is it due to an issue with `dgeni-packages/typescript` or something else?

[2021-06-05 21:37] Splaktar opened #310 "Regression: since 0.28.0, marked filter does not render markdown in HTML blocks"
I first hit this in https://github.com/angular/material/pull/11881, which ended up with the project pinning the dependency to `0.27.5` and not being able to upgrade since then. At that time, early 2020, I was quite unfamiliar with Marked and how it was used in dgeni-packages. So I was hoping that someone else would report this and it would get fixed. Unfortunately, that hasn't happened.

I have du

[2021-06-06 01:16] Splaktar commented on #310
I looked into the fact that the [arguments](https://github.com/markedjs/marked/blob/7fe631ea04ebd50cc450dd526e71e363787400a4/src/Renderer.js#L15) for `code()` are `(code, infostring, escaped)` (where `infostring` has the `lang` and `escaped` is a `boolean`) but the `renderMarkdown()` [arguments](https://github.com/angular/dgeni-packages/blob/0fe303e593fe04769d6cec958126082e6a541e55/nunjucks/servic

[2021-06-06 01:48] Splaktar commented on #310
OK, so this doesn't parse properly:
[code]
But this does
[code]

[2021-06-06 02:08] Splaktar commented on #310
## Failing test
[code]

## Passing test
[code]

[2021-06-06 02:33] Splaktar commented on #310
OK, this is a bug or breaking change by design in `marked`. Here's a [minimal demo](https://marked.js.org/demo/?text=%3Cdiv%3E%0A%20%20%5Blink%5D(https%3A%2F%2Fangularjs.org)%0A%3C%2Fdiv%3E%0A%0A%3Cdiv%3E%0A%0A%20%20%5Blink%5D(https%3A%2F%2Fangularjs.org)%0A%3C%2Fdiv%3E%0A&options=%7B%0A%20%22baseUrl%22%3A%20null%2C%0A%20%22breaks%22%3A%20false%2C%0A%20%22gfm%22%3A%20true%2C%0A%20%22headerIds%22%3

[2021-06-06 03:10] Splaktar commented on #310
I've opened https://github.com/markedjs/marked/issues/2085 for this. It looks like this breaking change might be Working as Intended, but I hope that there is some way that I can monkey patch the parser/renderer to fix this w/o having to add a ton of blank line feeds throughout the old documentation.

[2021-06-06 03:50] Splaktar commented on #310
So the response from the `marked` team was extremely short, but it basically amounted to

This kind of custom HTML block renderer could live in dgeni-packages, but it's not clear to me that it's viable or worth the effort. The Angular project has already moved on to `remark`, so there would be no benefit there.

That said, it's not ideal to leave the AngularJS and AngularJS Material projects on an

[2021-06-07 10:32] petebacondarwin commented on #310
The CommonMark specification is what we should be following in our use of markdown (IMO). If the only problems with upgrading to the new version of dgeni-packages is that angular.js docs need to be updated to include blank lines to trigger the switch from HTML mode to markdown mode then that is the most appropriate fix.

Note that remark (used in the Angular project) also conforms to this CommonMa

[2021-06-07 10:32] #310 closed

[2021-07-05 17:12] boindil opened #312 "async is not supported"
please switch to ecmaVersion 8 for the async keyword to be supported.

https://github.com/angular/dgeni-packages/blob/b6577a068f9eceea155b0ccdd9e057b756fbe2a3/jsdoc/services/jsParser-config.js

[2021-07-09 11:17] #312 closed

[2021-08-20 01:18] Splaktar commented on #218
You'll get this if https://github.com/angular/dgeni-packages/blob/974173de87add514b1f3f584a97e00a1881873a7/git/services/gitRepoInfo.js#L8

fails to parse the `repository.url` field in your `package.json`. For example if the field is missing or it is formatted for SSH like `git@github.com:angular/angular.js.git`.

[2021-09-07 10:52] boindil opened #317 "support ChainExpression"
[code]
would be nice if `ChainExpression ` would be supported: `var?.maybe?.existing`

[2021-09-24 18:23] ksurendra commented on #218
Updating **package.json:** as below, solved it for me.

From
[code]

To:

[code]

[2022-10-17 00:02] #240 closed